<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="{{- base.url -}}{{- page.url -}}" />
    
        {# Search + Tab #}
        <title>{{ seoTitle }}</title>
        <meta name="description" content="{{- seoDescription -}}">

        {# OpenGraph #}
        <meta property="og:site_name" content="{{ base.companyName }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{- ogTitle -}}" />
        <meta property="og:description" content="{{- ogDescription -}}" />
        <meta property="og:url" content="{{- base.url -}}{{- page.url -}}" />
        <meta property="og:image" content="{{- base.url -}}{{- ogImage -}}" />
        <meta property="og:image:alt" content="{{- ogImageAlt -}}" />

        {# Twitter #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{- base.twitterUsername -}}">
        <meta name="twitter:title" content="{{- ogTitle -}}">
        <meta name="twitter:description" content="{{- ogDescription -}}">
        <meta name="twitter:image" content="{{- base.url -}}{{- ogImage -}}">
        <meta name="twitter:image:alt" content="{{- ogImageAlt -}}">

        {# No index #}
        {% if noindex == true %}<meta name="robots" content="noindex, nofollow">{% endif %}
    
        {# Styling #}
        <link rel="preload" href="{{ '/assets/fonts/neuemontreal-var.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <style>
            @font-face {
                font-family: 'Neue Montreal';
                font-style:  normal;
                font-weight: 100 900;
                font-display: block;
                src: url("/assets/fonts/neuemontreal-var.woff2") format("woff2");
                unicode-range: U+0020-007F,U+00A0-00FF,U+20AC,U+2010,U+2013,U+2014,U+2018,U+2019,U+201A,U+201C,U+201D,U+201E,U+2039,U+203A,U+2026,U+2022;
            }
            :root { --sans: 'Neue Montreal', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; }
        </style>
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
    
        {# Website Icon #}
        <link href="/assets/images/favicon/favicon.svg" rel="icon" media="(prefers-color-scheme: light)">
        <link href="/assets/images/favicon/favicon-dark.svg" rel="icon" media="(prefers-color-scheme: dark)">
        <link rel="apple-touch-icon" href='/assets/images/favicon/apple-touch-icon.png'>
        <link rel="manifest" href="/manifest.webmanifest">
        
    </head>

    {# Body #}
    <body data-barba="wrapper" class="w:100p max-w:100p font:md tracking:tight leading:160 font:sans kern:normal antialiased {% if theme == 'dark' %}bg:sheet-6-i color:ink-3-i{% else %}bg:sheet-6 color:ink-3{% endif %}" style="font-family: var(--sans);">

        <div class="relative w:100p">

            {# Header #}
            {% include "components/_header.njk" %}
            
            {# Nesting for smooth scroll if wanted later on #}
            <div id="smooth-wrapper">
                <div id="smooth-content">

                    {# Page Content #}
                    {{ content | safe }}

                    {# Footer #}
                    {% include "components/_footer.njk" %}
                </div>
            </div>

        </div>

        {# Signup Modal #}
        {% include "components/_modal-signup.njk" %}

        <!-- Scripts -->
        <script src="/assets/javascript/main.js"></script>
        {% if base.env == 'PROD' %} 
            <script defer data-domain="blame.design" src="https://plausible.io/js/script.js"></script>
        {% endif %}
    </body>

</html>