{% import "components/_icons.njk" as icons %}
{% import "components/_elements.njk" as elements %}

<footer class="section z:9 pt:24 sm:pt:32 {% if theme == 'dark' %}bg:sheet-5-i shadow:footerDark{% else %}bg:sheet-5 shadow:footerLight{% endif %}">
    <div class="container">
        <div class="relative flex align-items:center justify-content:between border-b:1 pb:24 sm:pb:32 {% if theme == 'dark' %}border:edge-1-i{% else %}border:edge-2{% endif %}">
            <div class="flex align-items:center w:192">
                <a href="/" class="px:6 py:6 ml:n6 mr:8 inline-flex align-items:center justify-content:start radius:md border:1 focus:primary plausible-event-name=Footer+navigate">
                    {{ icons.wordmark('w:64') }}
                </a>
                <div class="block">
                    {% if theme == 'dark' %}
                        {{ elements.tag(
                            color="blue-i",
                            size="xs",
                            label="Design-led Growth",
                            classes=''
                        )}}
                    {% else %}
                        {{ elements.tag(
                            color="blue",
                            size="xs",
                            label="Design-led Growth",
                            classes=''
                        )}}
                    {% endif %}
                </div>
            </div>
            <div class="flex align-items:center border:1 radius:full p:4 {% if theme == 'dark' %}border:edge-1-i border-opacity:50{% else %}border:edge-2{% endif %}">
                {% macro footerSocial(classes, link, icon) %}
                    <a href="{{ link }}" class="w:32 h:32 flex align-items:center justify-content:center radius:full border:1 border:primary-rg border-opacity:0 bg:primary-rg bg-opacity:0 focus:primary transition:300 {% if theme == 'dark' %}hover:bg-opacity:30 hover:border-opacity:50{% else %}hover:color:primary-hv hover:bg-opacity:20 hover:border-opacity:40{% endif %} {{ classes }}">
                        {{ icon }}
                    </a>
                {% endmacro %}
                {{ footerSocial(
                    classes="plausible-event-name=View+Instagram",
                    link=base.instagramLink,
                    icon=icons.socialInstagram('w:14')
                )}}
                {{ footerSocial(
                    classes="plausible-event-name=View+LinkedIn",
                    link=base.linkedinLink,
                    icon=icons.socialLinkedin('w:16 mb:2')
                )}}
                {{ footerSocial(
                    classes="plausible-event-name=View+GitHub",
                    link=base.githubLink,
                    icon=icons.socialGithub('w:18')
                )}}
            </div>
            <div class="relative hidden sm:flex align-items:center justify-content:end gap:12 w:192 tracking:tight mt:1">
                <div>
                    <span class="opacity:70">Created by</span> <a href="https://www.mikestilling.com/?utm_source=blame&utm_medium=footer" target="_blank" rel="noopener noreferrer" class="{% if theme == 'dark' %}link:inverse{% else %}link:regular{% endif %} plausible-event-name=View+creator">Mike Stilling</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container flex justify-content:between font:sm tracking:normal">
        <p class="opacity:70 sm:w:224 py:8 my:8">
            ©{{ base.currentYear() }} {{ base.name }}
        </p>
        <div class="w:0 border-l:1 {% if theme == 'dark' %}border:edge-2-i{% else %}border:edge-2{% endif %}"></div>
        <ul class="flex align-items:center justify-content:end gap:4 mr:n12 my:8 sm:w:224">
            <li>
                <a href="https://plausible.io/blame.design" class="inline-block opacity:70 py:8 px:12 radius:full space:nowrap border:1 focus:primary hover:opacity:100 transition:100 {% if theme == 'dark' %}hover:color:link-hv-i{% else %}hover:color:link-hv{% endif %} plausible-event-name=View+analytics">
                    Blame's Analytics
                </a>
            </li>
        </ul>
    </div>
</footer>