{% import "components/_icons.njk" as icons %}

{% macro buildOwn() %}
    {# Graphic #}
    <div data-animate-cube-drop class="absolute w:100p h:100p h:auto ratio:1-1 flex align-items:center justify-content:center" aria-hidden="true">
        <div data-animate-cube-drop-dots-fill class="absolute w:100p h:100p mask:radial" style="background-color: rgba(153,98,255,0);"></div>
        <div class="absolute" style="width: 90rem; height:90rem; background-image: url('/assets/images/utility/inverse-dot-8-0f0f0f.svg'); background-size: 0.5rem 0.5rem;"></div>
        <div data-animate-cube-drop-container class="relative w:128 h:128 radius:lg flex align-items:cemter justify-content:center overflow:hidden bg:sheet-5-i" style="box-shadow: 0 -2px 2px 0 rgba(255,255,255,0.03);">
            {% macro buildOwnCube() %}
                <div data-animate-cube-drop-cube class="relative w:16 h:16 radius:xs" style="background-color:rgba(23,23,23,1); transform: translate3d(0,-8rem,0); opacity:0; box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.1), inset 0 -1px 1px 0 rgba(0,0,0,0.5);"></div>
            {% endmacro %}
            <div class="flex align-items:end justify-content:start gap:4 p:6">
                <div data-animate-cube-drop-col>
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
            </div>
            {# Shading #}
            <div data-animate-cube-drop-highlight class="absolute w:100p h:100p bg:radial-white opacity:2"></div>
            <div data-animate-cube-drop-shading class="absolute top:0 left:0 w:128 h:128 radius:lg" style="box-shadow: inset 0 6px 6px 0 rgba(0,0,0,0.8), inset 0 -1px 1px 0 rgba(255,255,255,0.06), inset 0 -4px 4px 0 rgba(0,0,0,0.3);"></div>
        </div>
    </div>
{% endmacro %}

{% macro landExpand() %}
    {# Graphic #}
    <div data-animate-ball-roll-expand class="absolute flex w:100p h:100p h:auto ratio:1-1 flex align-items:center justify-content:center" aria-hidden="true">
        <div data-animate-ball-roll-expand-outer-1 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div data-animate-ball-roll-expand-outer-2 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div data-animate-ball-roll-expand-outer-3 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div data-animate-ball-roll-expand-outer-4 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div class="absolute" style="width: 90rem; height:90rem; background-image: url('/assets/images/utility/inverse-dot-8-0f0f0f.svg'); background-size: 0.5rem 0.5rem;"></div>
        {# Circle #}
        <div class="relative w:144 h:144 bg:sheet-6-i radius:full overflow:hidden flex align-items:center justify-content:center" style="box-shadow: 0 -2px 2px 0 rgba(255,255,255,0.03);">
            {# Expanders #}
            <div data-animate-ball-roll-expand-inner class="absolute radius:100p" style="width:0; height:0; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 0.2) 100%)"></div>
            {# Grid Lines #}
            <div class="absolute top:0 left:0 w:100p h:100p flex align-items:center justify-content:center">
                <div class="absolute h:100p border-l:1 border:white border:dashed border-opacity:8 mask:fade-out-y"></div>
                <div class="absolute w:100p border-t:1 border:white border:dashed border-opacity:8 mask:fade-out-x"></div>
            </div>
            {# Balls #}
            <div data-animate-roll-expand-ball-1 class="relative w:12 h:12 bg:blue-i radius:100p" style="transform:translate3d(0, 5rem, 0); box-shadow: inset 0 4px 4px -2px rgba(255,255,255,0.4), inset 0 -4px 4px 0 rgba(0,0,0,0.8), 0 8px 4px -1px rgba(0,0,0,0.8);'">
                <div class="absolute left:2 top:2 mt: w:8 h:4 radius:100p bg:radial-white opacity:50"></div>
            </div>
            <div data-animate-roll-expand-ball-2 class="absolute w:12 h:12 bg:blue-i radius:100p" style="transform:translate3d(5rem, 0, 0); box-shadow: inset 0 4px 4px -2px rgba(255,255,255,0.4), inset 0 -4px 4px 0 rgba(0,0,0,0.8), 0 8px 4px -1px rgba(0,0,0,0.8);'">
                <div class="absolute left:2 top:2 mt: w:8 h:4 radius:100p bg:radial-white opacity:50"></div>
            </div>
            {# Shading #}
            <div class="absolute w:plus96 left:n48 top:0 h:100p bg:radial-white opacity:4 mask:fade-out-b"></div>
            <div class="absolute w:144 h:144 radius:full" style="box-shadow: inset 0 12px 12px 0 rgba(0,0,0,0.8), inset 0 -1px 1px 0 rgba(255,255,255,0.06), inset 0 -4px 4px 0 rgba(0,0,0,0.3);"></div>
        </div>
    </div>
{% endmacro %}

{% macro betterPerfect() %}
    {# Graphic #}
    <div class="absolute flex w:100p h:100p h:auto ratio:1-1 flex align-items:center justify-content:center" aria-hidden="true">
        <div data-animate-toggle-dots class="absolute w:100p h:100p mask:radial" style="background-color: rgba(0,190,99,0);"></div>
        <div class="absolute" style="width: 90rem; height:90rem; background-image: url('/assets/images/utility/inverse-dot-8-0f0f0f.svg'); background-size: 0.5rem 0.5rem;"></div>
        {# Toggle #}
        <div data-animate-toggle class="flex-shrink:0 relative flex flex:col align-items:center justify-content:center gap:24 bg:sheet-6-i radius:full">
            <div data-animate-toggle-pill class="relative w:160 h:64 bg:sheet-4-i radius:full flex align-items:center " style="background-color: rgba(255,92,119,0.1); box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.08), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 -4px 4px 0 rgba(0,0,0,0.2), inset 0 16px 16px -4px rgba(0,0,0,0.7), 0 1px 1px 0 rgba(255,255,255,0.04);">
                <div data-animate-toggle-text-r class="absolute right:24 font:mono font:2xs uppercase tracking:loosest mt:4">
                    <div class="absolute filter filter-blur:2xs opacity:50 animation:pulse">
                        Pending
                    </div>
                    <div class="gradient-text bg:white bg-opacity:50">
                        Pending
                    </div>
                </div>
                <div data-animate-toggle-text-l class="absolute left:24 font:mono font:2xs uppercase tracking:loosest mt:4" style="visibility:hidden; opacity:0;">
                    <div class="absolute filter filter-blur:2xs opacity:50">
                        Shipped
                    </div>
                    <div class="gradient-text bg:white bg-opacity:50">
                        Shipped
                    </div>
                </div>
                {# Knob #}
                <div data-animate-toggle-knob class="absolute h:100p w:auto flex ratio:1-1 bg:sheet-4-i radius:full p:2" style="box-shadow: inset 0 -1px 1px 0 rgba(255,255,255,0.04), inset 0 1px 1px 0 rgba(255,255,255,0.08), inset 0 2px 1px 0 rgba(0,0,0,0.2), 0 16px 16px rgba(0,0,0,0.4);">
                    <div class="absolute top:0 left:0 w:100p h:100p radius:full bg:radial-white opacity:6"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro startGreat() %}
    <div class="absolute w:100p h:100p flex align-items:center justify-content:center" aria-hidden="true">
        <div class="relative flex align-items:start gap:8 mt:8">
            {% macro bubble() %}
                <div data-bubble class="absolute bottom:4 w:4 h:4 radius:full" style="box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.7); opacity:0;"></div>
            {% endmacro %}
            {% macro bubbleSmall() %}
                <div data-bubble class="absolute bottom:4 w:2 h:2 radius:full" style="box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.7); opacity:0;"></div>
            {% endmacro %}
            {# Test Tube 1 #}
            <div class="flex flex:col align-items:center mt:10">
                <div class="w:36 h:4 radius:full bg:sheet-1 bg-opacity:30" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.1), inset 0 -2px 2px 0 rgba(0,0,0,0.1), inset 0 2px 2px 0 rgba(255,255,255,1);"></div>
                <div class="relative w:28 h:128 radius-b:full overflow:hidden bg:sheet-1 bg-opacity:20 flex flex:col align-items:center">
                    <div class="absolute bottom:0 left:0 w:100p bg:blue" style="height:87px; background: linear-gradient(0deg,  rgba(var(--purple-i), 0.4) 0%, rgba(var(--blue-i), 0.5) 50%, rgba(var(--teal-i), 0.6) 98%, rgba(var(--teal-i), 0.8) 100%);"></div>
                    <div class="absolute bottom:0 left:0 w:100p bg:blue mask:fade-out-x-75p" style="height:87px; background: linear-gradient(0deg,  rgba(var(--purple-i), 0.4) 0%, rgba(var(--blue-i), 0.5) 50%, rgba(var(--teal-i), 0.6) 98%, rgba(var(--teal-i), 0.8) 100%);"></div>
                    {# Bubbles #}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {# Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05);"></div>
                    <div class="absolute left:4 w:12 h:100p bg:radial-white opacity:30"></div>
                </div>
                <div class="w:36 h:12 mt:12 bg:radial-sheet-6-i opacity:6"></div>
            </div>
            {# Test Tube 2 #}
            <div data-bubble-tube class="flex flex:col align-items:center">
                <div class="w:48 h:6 radius:full bg:sheet-1 bg-opacity:30" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.1), inset 0 -2px 2px 0 rgba(0,0,0,0.1), inset 0 2px 2px 0 rgba(255,255,255,1);"></div>
                <div class="relative w:36 h:144 radius-b:full overflow:hidden bg:sheet-1 bg-opacity:20 flex flex:col align-items:center">
                    <div class="absolute bottom:0 left:0 w:100p h:96 bg:blue" style="background: linear-gradient(0deg,  rgba(var(--teal-i), 0.4) 0%, rgba(var(--blue-i), 0.5) 50%, rgba(var(--purple-i), 0.6) 98%, rgba(var(--purple-i), 0.8) 100%);"></div>
                    <div class="absolute bottom:0 left:0 w:100p h:96 bg:blue mask:fade-out-x-75p opacity:80" style="background: linear-gradient(0deg,  rgba(var(--teal-i), 0.4) 0%, rgba(var(--blue-i), 0.5) 50%, rgba(var(--purple-i), 0.6) 98%, rgba(var(--purple-i), 0.8) 100%);"></div>
                    {# Bubbles #}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {# Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05);"></div>
                    <div class="absolute left:4 w:12 h:100p bg:radial-white opacity:30"></div>
                </div>
                <div class="w:48 h:12 mt:12 bg:radial-sheet-6-i opacity:6"></div>
            </div>
            {# Test Tube 3 #}
            <div class="flex flex:col align-items:center mt:10">
                <div class="w:36 h:4 radius:full bg:sheet-1 bg-opacity:30" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.1), inset 0 -2px 2px 0 rgba(0,0,0,0.1), inset 0 2px 2px 0 rgba(255,255,255,1);"></div>
                <div class="relative w:28 h:128 radius-b:full overflow:hidden bg:sheet-1 bg-opacity:20 flex flex:col align-items:center">
                    <div class="absolute bottom:0 left:0 w:100p" style="height:87px; background: linear-gradient(0deg,  rgba(var(--pink-i), 0.2) 0%, rgba(var(--purple-i), 0.5) 50%, rgba(var(--blue-i), 0.6) 98%, rgba(var(--blue-i), 0.8) 100%);"></div>
                    <div class="absolute bottom:0 left:0 w:100p mask:fade-out-x-75p" style="height:87px; background: linear-gradient(0deg,  rgba(var(--pink-i), 0.2) 0%, rgba(var(--purple-i), 0.5) 50%, rgba(var(--blue-i), 0.6) 98%, rgba(var(--blue-i), 0.8) 100%);"></div>
                    {# Bubbles #}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {# Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05);"></div>
                    <div class="absolute left:4 w:12 h:100p bg:radial-white opacity:30"></div>
                </div>
                <div class="w:36 h:12 mt:12 bg:radial-sheet-6-i opacity:6"></div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro refineMore() %}
    <div class="absolute w:100p h:100p flex align-items:center justify-content:center overflow:hidden" aria-hidden="true">
        {# Background Text #}
        <div class="absolute top:64 sm:top:80 sm:mt:16 lg:mt:14 flex justify-content:start leading:100 font:6xl mask:fade-out-x w:100p">
            <div class="w:100p flex justify-content:start flex-shrink:0">
                <div data-magnify-outer-1 class="space:nowrap gradient-text bg:blue bg-opacity:40">
                    Focus Focus Focus Focus&nbsp;
                </div>
                <div data-magnify-outer-2 class="space:nowrap gradient-text bg:blue bg-opacity:40">
                    Focus Focus Focus Focus&nbsp;
                </div>
            </div>
        </div>
        {# Magnifier #}
        <div class="relative flex flex:col align-items:center justify-content:center">
            {# Glass Ring #}
            <div class="relative block flex-shrink:0 w:128 h:128 radius:full bg:sheet-5 p:6 z:2" style="box-shadow: inset 0 4px 4px 0 rgba(255,255,255,1), inset 0 -4px 4px 0 rgba(0,0,0,0.1);">
                <div class="relative flex align-items:center justify-content:center w:100p h:100p radius:full overflow:hidden" style="box-shadow: 0 0 4px 0 rgba(0,0,0,0.06), 0 0 1px 0 rgba(0,0,0,0.2);">
                    {# Focus #}
                    <div class="absolute h:72 w:100p flex justify-content:start font:10xl color:blue leading:100 mask:fade-out-x mb:4">
                        <div data-magnify-inner-1 class="flex-shrink:0">
                            Focus&nbsp;
                        </div>
                        <div data-magnify-inner-2 class="flex-shrink:0">
                            Focus&nbsp;
                        </div>
                        <div data-magnify-inner-3 class="flex-shrink:0">
                            Focus&nbsp;
                        </div>
                        <div data-magnify-inner-4 class="flex-shrink:0">
                            Focus&nbsp;
                        </div>
                    </div>
                    {# Inner Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius:full" style="background: radial-gradient(50% 50% at 50% 50%, rgba(var(--black), 0.04) 0%, rgba(var(--black), 0) 100%);"></div>
                    <div class="absolute top:0 left:0 w:100p h:100p radius:full" style="background: radial-gradient(50% 50% at 50% 50%, rgba(var(--white), 0) 0%, rgba(var(--white), 0.2) 100%);"></div>
                    <div class="absolute top:16 w:40 h:8 bg:white radius:100p opacity:70"></div>
                </div>
            </div>
            {# Shaft #}
            <div class="relative flex flex:col align-items:center w:12 mt:n2 overflow:hidden radius-b:full">
                <div class="w:100p h:64" style="background: linear-gradient(0deg, rgba(var(--sheet-6), 1) 0%, rgba(var(--sheet-5), 1) 90%, rgba(var(--sheet-6), 1) 100%)"></div>
                <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="background: linear-gradient(90deg, rgba(var(--sheet-6), 1) 0%, rgba(var(--sheet-5), 0) 30%, rgba(var(--sheet-5), 0) 70%, rgba(var(--sheet-6), 1) 100%)"></div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro thirdParty() %}
    <div class="absolute w:100p h:100p flex align-items:center justify-content:center overflow:hidden" aria-hidden="true">
        {% macro intEnemy(attr,style,icon) %}
            <div {{ attr }} class="absolute flex align-items:center justify-content:center w:32 h:32 radius:full bg:sheet-3 transform" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08); background: linear-gradient(0deg,  rgba(var(--sheet-4), 1) 0%, rgba(var(--sheet-2), 1) 100%); {{ style }}">
                {{ icon }}
            </div>
        {% endmacro %}
        {{ intEnemy(
            attr="data-third-party-1",
            style="transform: translate3d(-6.5rem, -6.5rem, 0) rotate(-45deg); opacity:0;",
            icon=icons.iconHubspot('w:16')
        )}}
        {{ intEnemy(
            attr="data-third-party-2",
            style="transform: translate3d(6.5rem, -6.5rem, 0) rotate(45deg); opacity:0;",
            icon=icons.iconIntercom('w:16')
        )}}
        {{ intEnemy(
            attr="data-third-party-4",
            style="transform: translate3d(-6.5rem, 6.5rem, 0) rotate(-45deg); opacity:0;",
            icon=icons.iconTagManager('w:20')
        )}}
        {{ intEnemy(
            attr="data-third-party-3",
            style="transform: translate3d(6.5rem, 6.5rem, 0) rotate(45deg); opacity:0;",
            icon=icons.iconContentful('w:18')
        )}}
        <div class="relative flex align-items:center justify-content:center w:112 h:112">
            <div data-third-party-guard class="absolute w:100p h:100p radius:lg transform rotate:45" style="box-shadow: -1px -1px 1px 0 rgba(255,255,255,0.7), 1px 1px 1px 0 rgba(255,255,255,0.4), inset 12px 12px 12px -4px rgba(0,0,0,0.08), inset 4px 4px 4px -2px rgba(0,0,0,0.08), inset -4px -4px 4px -2px rgba(0,0,0,0.04); background: linear-gradient(135deg,  rgba(var(--sheet-4), 1) 0%, rgba(var(--sheet-3), 1) 30%, rgba(var(--sheet-5), 1) 100%);"></div>
            <div class="relative w:48 h:48 radius:full flex align-items:center justify-content:center color:blue">
                {{ icons.home('w:24 opacity:80')}}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro theMedium() %}
    <div class="absolute w:100p h:100p flex flex:col align-items:center justify-content:center overflow:hidden" aria-hidden="true">
        <div class="relative flex flex:col align-items:center justify-content:center mask:fade-out-y w:100p h:100p pt:24">
            {% macro pr(icon,head,desc,numb,when) %}
                <div class="relative flex align-items:start h:80 flex-shrink:0 ">
                    <div class="absolute left:n28 top:0 w:28 h:28 border-l:1 border-b:1 border:edge-2 radius-bl:lg"></div>
                    <div class="absolute left:n28 top:0 w:0 h:80 border-l:1 border:edge-2 mask:fade-out-t"></div>
                    <div class="relative flex align-items:center justify-content:between relative w:288 md:w:320 h:56 bg:sheet-5 radius:md px:12 z:1 overflow:hidden" style="box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5), inset 0 -1px 1px 0 rgba(255,255,255,0.3), 0px 12px 12px -4px rgba(0,0,0,0.06), 0px 2px 2px 0 rgba(0,0,0,0.02);">
                        <div class="flex align-items:center gap:8">
                            <div class="relative flex align-items:center justify-content:center w:32 h:32 radius:full bg:sheet-5" style="box-shadow: 0 8px 8px 0 rgba(0,0,0,0.08), 0 2px 2px 0 rgba(0,0,0,0.04), inset 0 1px 1px 0 rgba(255,255,255,0.7);">
                                {{ icon }}
                            </div>
                            <div class="tracking:normal leading:140">
                                <div class="font:xs medium opacity:80">
                                    {{ head }}
                                </div>
                                <div class="font:2xs opacity:60">
                                    {{ desc }}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex:col align-items:end font:mono">
                            <div class="font:2xs opacity:70">#{{ numb }}</div>
                            <div class="font:3xs opacity:50">{{ when }}/2025</div>
                        </div>
                    </div>
                    <div class="absolute top:24 left:n4 w:8 h:8 bg:blue radius:full z:2" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), inset 0 1px 1px 0 rgba(255,255,255,0.3);"></div>
                </div>
            {% endmacro %}
            {{ pr(
                icon=icons.branch('w:14 opacity:80 ml:1'),
                head='Improve load times',
                desc='Cleaned up Tag Manager',
                numb='135',
                when='11/03'
            )}}
            {{ pr(
                icon=icons.pullRequest('w:14 opacity:80 ml:1'),
                head='Cover functionality in headline',
                desc='Current headline is too vague',
                numb='131',
                when='11/05'
            )}}
            {{ pr(
                icon=icons.merge('w:14 opacity:80 ml:1'),
                head='Account for primary search terms',
                desc='Anchoring content around user needs',
                numb='133',
                when='11/06'
            )}}
            {{ pr(
                icon=icons.issueClosed('w:14 opacity:80 ml:1'),
                head='Polish up design',
                desc='Added fast-follow animations',
                numb='137',
                when='11/09'
            )}}
            {{ pr(
                icon=icons.issueOpen('w:14 opacity:80 ml:1'),
                head='Change primary CTA',
                desc='Lead with PLG vs. Sales form',
                numb='141',
                when='11/11'
            )}}
        </div>
    </div>
{% endmacro %}

{% macro skipOverthinking() %}
    <div class="absolute w:100p h:100p flex flex:col align-items:center justify-content:center gap:12 overflow:hidden mask:fade-out-y" aria-hidden="true">
        <div class="relative w:320 px:18 font:2xs medium tracking:normal opacity:60 mb:n10">
            VP of Marketing
        </div>
        <div class="relative w:288 md:w:320 px:18 py:12 font:xs md:font:sm tracking:normal medium radius:full h:46">
            <div class="absolute left:0 top:0 w:100p h:100p bg:black color:black radius:full opacity:15">
                {{ icons.tailL('absolute bottom:0 w:16')}}
            </div>
            <div class="relative">
                Switch "fast" to "blazing fast" before shipping.
            </div>
        </div>
        <div class="relative w:288 md:w:320 px:18 py:12 font:xs md:font:sm tracking:tight medium color:white radius:full h:46">
            <div class="absolute left:0 top:0 w:100p h:100p bg:blue color:blue radius:full">
                {{ icons.tailR('absolute right:0 bottom:0 w:16')}}
            </div>
            <div class="relative">
                Will this really make a difference on conversion?
            </div>
        </div>
        <div class="relative w:288 md:w:320 flex justify-content:start mt:n2">
            <div class="relative w:48 px:16 py:12 font:xs md:font:sm tracking:normal medium radius:full h:48">
                <div class="absolute left:0 top:0 w:100p h:100p bg:black color:black radius:full opacity:15">
                    {{ icons.tailL('absolute bottom:0 w:16')}}
                </div>
                <div class="relative flex w:100p h:100p justify-content:center align-items:center gap:2">
                    <div class="w:4 h:4 bg:ink-3 radius:full animate:message-1"></div>
                    <div class="w:4 h:4 bg:ink-3 radius:full animate:message-2"></div>
                    <div class="w:4 h:4 bg:ink-3 radius:full animate:message-3"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro grandstand() %}
    <div aria-hidden="true" class="relative flex flex:col w:100p h:100p">
        {# Status Bar #}
        <div class="relative flex flex-shrink:0 justify-content:between w:100p px:12 border-b:1 border:ink-3-i border-opacity:10 z:1">
            <div class="relative flex align-items:center gap:0 flex-shrink:0">
                <div class="w:8 h:8 radius:full bg-opacity:10 border-opacity:20 border:1 border:white bg:white mr:4"></div>
                <div class="w:8 h:8 radius:full bg-opacity:10 border-opacity:20 border:1 border:white bg:white mr:4"></div>
                <div class="w:8 h:8 radius:full bg-opacity:10 border-opacity:20 border:1 border:white bg:white"></div>
                <div class="flex align-items:center justify-content:center w:28 h:24 ml:6 border-x:1 border:white border-opacity:10">
                    {{ icons.figmaLogo('w:12 opacity:40') }}
                </div>
                <div class="flex align-items:center h:100p px:6 border-r:1 border:white border-opacity:10 bg:white bg-opacity:4">
                    <div class="font:2xs medium gradient-text bg:white bg-opacity:30 tracking:normal">
                        Design file
                    </div>
                    <div class="relative flex align-items:center justify-content:center w:8 h:8 ml:4 opacity:20">
                        <div class="absolute w:8 h:1 bg:white transform rotate:45"></div>
                        <div class="absolute w:8 h:1 bg:white transform rotate:n45"></div>
                    </div>
                </div>
            </div>
        </div>
        {# Page Contents #}
        <div class="relative w:100p h:100p pt:24 flex align-items:start justify-content:center gap:24">
            {# Watermarked #}
            <div class="relative w:100p h:100p hidden md:flex flex:col gap:2 tracking:normal">
                <div class="font:xs medium gradient-text bg:white bg-opacity:30">
                    &nbsp;
                </div>
                <div class="relative w:100p h:100p bg:sheet-2-i"></div>
            </div>
            {# Design #}
            <div class="relative flex-shrink:0 w:10-12 md:w:50p h:100p flex flex:col gap:2 tracking:normal">
                <div class="font:xs medium gradient-text bg:white bg-opacity:30">
                    Design handoff
                </div>
                <div class="relative w:100p h:100p bg:sheet-1-i border:1 border:blue border-opacity:30 px:24 py:16">
                    <div class="relative w:100p flex align-items:center justify-content:between">
                        <div class="flex align-items:center gap:8 mb:8">
                            <div>
                                <div class="w:8 h:1 bg:ink-1-i"></div>
                                <div class="w:8 h:1 bg:ink-1-i my:2"></div>
                                <div class="w:8 h:1 bg:ink-1-i"></div>
                            </div>
                            <div class="color:ink-1-i font:sm md:font:md">
                                Acme Dashboard
                            </div>
                        </div>
                        <div class="color:ink-2-i font:2xs medium leading:100p bg:white bg-opacity:10 px:6 py:2 radius:xs mb:10">
                            Create item
                        </div>
                    </div>
                    <div class="relative flex align-items:end justify-content:around gap:16 px:16 w:100p ratio:2-1 bg:edge-1-i">
                        <div class="w:100p bg:blue bg-opacity:20 radius-t:md border:1 border:blue border-opacity:30" style="height:50%;"></div>
                        <div class="w:100p bg:blue bg-opacity:25 radius-t:md border:1 border:blue border-opacity:30" style="height:60%;"></div>
                        <div class="w:100p bg:blue bg-opacity:30 radius-t:md border:1 border:blue border-opacity:30" style="height:70%;"></div>
                        <div class="w:100p bg:blue bg-opacity:35 radius-t:md border:1 border:blue border-opacity:30" style="height:80%;"></div>
                        <div class="w:100p bg:blue bg-opacity:40 radius-t:md border:1 border:blue border-opacity:30" style="height:90%;"></div>
                    </div>
                    <div class="absolute w:4 h:4 bg:white border:blue border:1 top:n2 left:n2 ml:n1"></div>
                    <div class="absolute w:4 h:4 bg:white border:blue border:1 top:n2 right:n2 mr:n1"></div>
                </div>
            </div>
            {# Watermarked #}
            <div class="relative w:100p h:100p hidden md:flex flex:col gap:2 tracking:normal">
                <div class="font:xs medium gradient-text bg:white bg-opacity:10 space:nowrap">
                    Version 2
                </div>
                <div class="relative w:100p h:100p bg:sheet-2-i"></div>
            </div>
            {# Comments #}
            <div class="absolute top:24 ml:96 px:12 py:4 radius:full bg:sheet-6 color:ink-1 font:xs medium tracking:normal" style="box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);">
                {{ icons.tailL('absolute left:n4 bottom:0 w:16 color:sheet-6')}}
                <span class="color:blue">@mktg</span> is this what you meant?
            </div>
            <div class="absolute top:80 mt:8 left:8 md:left:48 px:12 py:4 radius:full bg:sheet-6 color:ink-1 font:xs medium tracking:normal" style="box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);">
                {{ icons.tailR('absolute right:n4 bottom:0 w:16 color:sheet-6')}}
                <span class="color:blue">@bethany</span> can I get copy
            </div>
            <div class="absolute top:144 mt:6 right:8 md:right:48 px:12 py:4 radius:full bg:sheet-6 color:ink-1 font:xs medium tracking:normal" style="box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);">
                {{ icons.tailL('absolute left:n4 bottom:0 w:16 color:sheet-6')}}
                <span class="color:blue">@dev</span> can we animate this?
            </div>
            <div class="absolute top:192 mt:12 left:8 md:left:128 px:12 py:4 radius:full bg:sheet-6 color:ink-1 font:xs medium tracking:normal" style="box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);">
                {{ icons.tailR('absolute right:n4 bottom:0 w:16 color:sheet-6')}}
                <span class="color:blue">@pm</span> when is this due?
            </div>
        </div>
    </div>
{% endmacro %}