{% import "components/_icons.njk" as icons %}

{% macro buildOwn() %}
    {# Graphic #}
    <div data-animate-cube-drop class="absolute w:100p h:100p h:auto ratio:1-1 flex align-items:center justify-content:center" aria-hidden="true">
        <div data-animate-cube-drop-dots-fill class="absolute w:100p h:100p mask:radial" style="background-color: rgba(153,98,255,0);"></div>
        <div class="absolute" style="width: 90rem; height:90rem; background-image: url('/assets/images/utility/inverse-dot-8-0f0f0f.svg'); background-size: 0.5rem 0.5rem;"></div>
        <div data-animate-cube-drop-container class="relative w:128 h:128 radius:lg flex align-items:cemter justify-content:center overflow:hidden bg:sheet-5-i" style="box-shadow: 0 -2px 2px 0 rgba(255,255,255,0.03);">
            {% macro buildOwnCube() %}
                <div data-animate-cube-drop-cube class="relative w:16 h:16 radius:xs" style="background-color:rgba(23,23,23,1); transform: translate3d(0,-8rem,0); opacity:0; box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.1), inset 0 -1px 1px 0 rgba(0,0,0,0.5);"></div>
            {% endmacro %}
            <div class="flex align-items:end justify-content:start gap:4 p:6">
                <div data-animate-cube-drop-col>
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
                <div data-animate-cube-drop-col class="flex flex:col-reverse gap:4">
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                    {{ buildOwnCube() }}
                </div>
            </div>
            {# Shading #}
            <div data-animate-cube-drop-highlight class="absolute w:100p h:100p bg:radial-white opacity:2"></div>
            <div data-animate-cube-drop-shading class="absolute top:0 left:0 w:128 h:128 radius:lg" style="box-shadow: inset 0 6px 6px 0 rgba(0,0,0,0.8), inset 0 -1px 1px 0 rgba(255,255,255,0.06), inset 0 -4px 4px 0 rgba(0,0,0,0.3);"></div>
        </div>
    </div>
{% endmacro %}

{% macro landExpand() %}
    {# Graphic #}
    <div data-animate-ball-roll-expand class="absolute flex w:100p h:100p h:auto ratio:1-1 flex align-items:center justify-content:center" aria-hidden="true">
        <div data-animate-ball-roll-expand-outer-1 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div data-animate-ball-roll-expand-outer-2 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div data-animate-ball-roll-expand-outer-3 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div data-animate-ball-roll-expand-outer-4 class="absolute radius:100p" style="width:9rem; height:9rem; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 1) 100%)"></div>
        <div class="absolute" style="width: 90rem; height:90rem; background-image: url('/assets/images/utility/inverse-dot-8-0f0f0f.svg'); background-size: 0.5rem 0.5rem;"></div>
        {# Circle #}
        <div class="relative w:144 h:144 bg:sheet-6-i radius:full overflow:hidden flex align-items:center justify-content:center" style="box-shadow: 0 -2px 2px 0 rgba(255,255,255,0.03);">
            {# Expanders #}
            <div data-animate-ball-roll-expand-inner class="absolute radius:100p" style="width:0; height:0; opacity:1; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--blue-i), 0) 50%, rgba(var(--blue-i), 0.2) 100%)"></div>
            {# Grid Lines #}
            <div class="absolute top:0 left:0 w:100p h:100p flex align-items:center justify-content:center">
                <div class="absolute h:100p border-l:1 border:white border:dashed border-opacity:8 mask:fade-out-y"></div>
                <div class="absolute w:100p border-t:1 border:white border:dashed border-opacity:8 mask:fade-out-x"></div>
            </div>
            {# Balls #}
            <div data-animate-roll-expand-ball-1 class="relative w:12 h:12 bg:blue-i radius:100p" style="transform:translate3d(0, 5rem, 0); box-shadow: inset 0 4px 4px -2px rgba(255,255,255,0.4), inset 0 -4px 4px 0 rgba(0,0,0,0.8), 0 8px 4px -1px rgba(0,0,0,0.8);'">
                <div class="absolute left:2 top:2 mt: w:8 h:4 radius:100p bg:radial-white opacity:50"></div>
            </div>
            <div data-animate-roll-expand-ball-2 class="absolute w:12 h:12 bg:blue-i radius:100p" style="transform:translate3d(5rem, 0, 0); box-shadow: inset 0 4px 4px -2px rgba(255,255,255,0.4), inset 0 -4px 4px 0 rgba(0,0,0,0.8), 0 8px 4px -1px rgba(0,0,0,0.8);'">
                <div class="absolute left:2 top:2 mt: w:8 h:4 radius:100p bg:radial-white opacity:50"></div>
            </div>
            {# Shading #}
            <div class="absolute w:plus96 left:n48 top:0 h:100p bg:radial-white opacity:4 mask:fade-out-b"></div>
            <div class="absolute w:144 h:144 radius:full" style="box-shadow: inset 0 12px 12px 0 rgba(0,0,0,0.8), inset 0 -1px 1px 0 rgba(255,255,255,0.06), inset 0 -4px 4px 0 rgba(0,0,0,0.3);"></div>
        </div>
    </div>
{% endmacro %}

{% macro betterPerfect() %}
    {# Graphic #}
    <div class="absolute flex w:100p h:100p h:auto ratio:1-1 flex align-items:center justify-content:center" aria-hidden="true">
        <div data-animate-toggle-dots class="absolute w:100p h:100p mask:radial" style="background-color: rgba(0,190,99,0);"></div>
        <div class="absolute" style="width: 90rem; height:90rem; background-image: url('/assets/images/utility/inverse-dot-8-0f0f0f.svg'); background-size: 0.5rem 0.5rem;"></div>
        {# Toggle #}
        <div data-animate-toggle class="flex-shrink:0 relative flex flex:col align-items:center justify-content:center gap:24 bg:sheet-6-i radius:full">
            <div data-animate-toggle-pill class="relative w:160 h:64 bg:sheet-4-i radius:full flex align-items:center " style="background-color: rgba(255,92,119,0.1); box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.08), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 -4px 4px 0 rgba(0,0,0,0.2), inset 0 16px 16px -4px rgba(0,0,0,0.7), 0 1px 1px 0 rgba(255,255,255,0.04);">
                <div data-animate-toggle-text-r class="absolute right:24 font:mono font:2xs uppercase tracking:loosest mt:4">
                    <div class="absolute filter filter-blur:2xs opacity:50 animation:pulse">
                        Pending
                    </div>
                    <div class="gradient-text bg:white bg-opacity:50">
                        Pending
                    </div>
                </div>
                <div data-animate-toggle-text-l class="absolute left:24 font:mono font:2xs uppercase tracking:loosest mt:4" style="visibility:hidden; opacity:0;">
                    <div class="absolute filter filter-blur:2xs opacity:50">
                        Shipped
                    </div>
                    <div class="gradient-text bg:white bg-opacity:50">
                        Shipped
                    </div>
                </div>
                {# Knob #}
                <div data-animate-toggle-knob class="absolute h:100p w:auto flex ratio:1-1 bg:sheet-4-i radius:full p:2" style="box-shadow: inset 0 -1px 1px 0 rgba(255,255,255,0.04), inset 0 1px 1px 0 rgba(255,255,255,0.08), inset 0 2px 1px 0 rgba(0,0,0,0.2), 0 16px 16px rgba(0,0,0,0.4);">
                    <div class="absolute top:0 left:0 w:100p h:100p radius:full bg:radial-white opacity:6"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro startGreat() %}
    <div class="absolute w:100p h:100p flex align-items:center justify-content:center" aria-hidden="true">
        <div class="relative flex align-items:start gap:8 mt:8">
            {% macro bubble() %}
                <div data-bubble class="absolute bottom:4 w:4 h:4 radius:full" style="box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.7); opacity:0;"></div>
            {% endmacro %}
            {% macro bubbleSmall() %}
                <div data-bubble class="absolute bottom:4 w:2 h:2 radius:full" style="box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.7); opacity:0;"></div>
            {% endmacro %}
            {# Test Tube 1 #}
            <div class="flex flex:col align-items:center mt:10">
                <div class="w:36 h:4 radius:full bg:sheet-1 bg-opacity:30" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05), inset 0 -2px 2px 0 rgba(0,0,0,0.06), inset 0 2px 2px 0 rgba(255,255,255,0.8);"></div>
                <div class="relative w:28 h:128 radius-b:full overflow:hidden bg:sheet-1 bg-opacity:20 flex flex:col align-items:center">
                    <div class="absolute bottom:0 left:0 w:100p bg:blue" style="height:87px; background: linear-gradient(0deg,  rgba(var(--purple-i), 0.4) 0%, rgba(var(--blue-i), 0.5) 50%, rgba(var(--teal-i), 0.6) 98%, rgba(var(--teal-i), 0.8) 100%);"></div>
                    {# Bubbles #}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {# Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05);"></div>
                    <div class="absolute left:4 w:12 h:100p bg:radial-white opacity:30"></div>
                </div>
                <div class="w:36 h:12 mt:12 bg:radial-sheet-6-i opacity:6"></div>
            </div>
            {# Test Tube 2 #}
            <div data-bubble-tube class="flex flex:col align-items:center">
                <div class="w:48 h:6 radius:full bg:sheet-1 bg-opacity:30" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05), inset 0 -2px 2px 0 rgba(0,0,0,0.06), inset 0 2px 2px 0 rgba(255,255,255,0.8);"></div>
                <div class="relative w:36 h:144 radius-b:full overflow:hidden bg:sheet-1 bg-opacity:20 flex flex:col align-items:center">
                    <div class="absolute bottom:0 left:0 w:100p h:96 bg:blue" style="background: linear-gradient(0deg,  rgba(var(--teal-i), 0.4) 0%, rgba(var(--blue-i), 0.5) 50%, rgba(var(--purple-i), 0.6) 98%, rgba(var(--purple-i), 0.8) 100%);"></div>
                    {# Bubbles #}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {{ bubble() }}
                    {# Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05);"></div>
                    <div class="absolute left:4 w:12 h:100p bg:radial-white opacity:30"></div>
                </div>
                <div class="w:48 h:12 mt:12 bg:radial-sheet-6-i opacity:6"></div>
            </div>
            {# Test Tube 3 #}
            <div class="flex flex:col align-items:center mt:10">
                <div class="w:36 h:4 radius:full bg:sheet-1 bg-opacity:30" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05), inset 0 -2px 2px 0 rgba(0,0,0,0.06), inset 0 2px 2px 0 rgba(255,255,255,0.8);"></div>
                <div class="relative w:28 h:128 radius-b:full overflow:hidden bg:sheet-1 bg-opacity:20 flex flex:col align-items:center">
                    <div class="absolute bottom:0 left:0 w:100p" style="height:87px; background: linear-gradient(0deg,  rgba(var(--pink-i), 0.2) 0%, rgba(var(--purple-i), 0.5) 50%, rgba(var(--blue-i), 0.6) 98%, rgba(var(--blue-i), 0.8) 100%);"></div>
                    {# Bubbles #}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {{ bubbleSmall() }}
                    {# Shading #}
                    <div class="absolute top:0 left:0 w:100p h:100p radius-b:full" style="box-shadow: inset -8px 0 8px -4px rgba(0,0,0,0.1), inset 4px 0 4px -2px rgba(0,0,0,0.05);"></div>
                    <div class="absolute left:4 w:12 h:100p bg:radial-white opacity:30"></div>
                </div>
                <div class="w:36 h:12 mt:12 bg:radial-sheet-6-i opacity:6"></div>
            </div>
        </div>
    </div>
{% endmacro %}