---
layout: "main.njk"
tags: blog
theme: light
changefreq: monthly
---
{% import "components/_icons.njk" as icons %}
{% import "components/_elements.njk" as elements %}
{% import "components/_graphics.njk" as graphics %}
{% set maxWidth = '672' %}

<main data-page="blog-post">

    {% macro vertDividers() %}
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10"></div>
                <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10"></div>
            </div>
        </div>
        {# Vert Dividers Inner #}
        <div class="absolute top:0 w:100p h:100p hidden md:flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:{{ maxWidth }} flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10 ml:n24"></div>
                <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10 mr:n24"></div>
            </div>
        </div>
    {% endmacro %}

    {# Hero #}
    <section class="section pt:96 sm:pt:96 md:pt:160 pb:24 sm:pb:24 md:pb:48">
        {{ vertDividers()}}
        {# Horz Dividers #}
        <div class="w:100p sm:w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15 mb:16"></div>
        {# Container #}
        <div class="container flex flex:col align-items:center pt:4 md:pt:0">
            {# Handles #}
            <div class="absolute top:n24 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 flex md:hidden align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3"></div>
                <div class="h:1 w:100p bg:ink-3 absolute"></div>
            </div>
            <div class="absolute top:n24 right:8 sm:right:n28 mt:1 mr:n1 w:12 h:12 flex md:hidden align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3"></div>
                <div class="h:1 w:100p bg:ink-3 absolute"></div>
            </div>
            {# Eyebrow #}
            <div class="relative flex align-items:center justify-content:start gap:6 w:100p max-w:{{ maxWidth }} py:4 mb:10">
                {# Handles Md #}
                <div class="absolute top:n24 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 hidden md:flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3"></div>
                    <div class="h:1 w:100p bg:ink-3 absolute"></div>
                </div>
                <div class="absolute top:n24 right:8 sm:right:n28 mt:1 mr:n1 w:12 h:12 hidden md:flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3"></div>
                    <div class="h:1 w:100p bg:ink-3 absolute"></div>
                </div>
                <p class="opacity:60">
                    {{ category | capitalize }}
                </p>
                <div class="w:2 h:2 radius:full bg:ink-3 opacity:60 mr:n2"></div>
                <p class="opacity:60">
                    {{ duration | capitalize }}
                </p>
            </div>
            {# Headline #}
            <div class="relative w:100p max-w:{{ maxWidth }}">
                <div class="relative">
                    <h1 class="font:10vw sm:font:10xl tracking:tighter leading:110 medium mb:14">
                        {{ headlineDisplay | safe }}
                    </h1>
                </div>
                <div class="relative">
                    <div class="absolute hidden md:block left:n24 top:8 h:20 border-l:1 border:primary-rg"></div>
                    <p class="font:5-5vw sm:font:2xl leading:150 opacity:70">
                        {{ description | safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    {# Content #}
    <section class="section section:pb">
        {{ vertDividers()}}
        {# Horz Divider #}
        <div class="w:100p sm:w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15"></div>
        {# Subheader #}
        <div data-subheader class="sticky top:56 w:100p flex flex:col align-items:center mb:n1 z:7 blur:fix" >
            <div class="container flex align-items:center justify-content:between gap:8 sm:gap:16">
                {# Background #}
                <div class="absolute top:0 left:0 sm:left:n24 w:100p sm:w:plus48 h:100p px:1 pb:1">
                    <div class="w:100p h:100p bg:sheet-6 bg-opacity:20 backdrop backdrop-blur:sm blur:fix"></div>
                </div>
                {# Vert Dividers #}
                <div class="absolute sm:hidden top:0 left:12 h:100p border-l:1 border:ink-3 border-opacity:10"></div>
                <div class="absolute sm:hidden top:0 right:12 h:100p border-l:1 border:ink-3 border-opacity:10"></div>
                {# Vert Dividers Inner #}
                <div class="absolute top:0 left:0 w:100p h:100p hidden md:flex align-items:center justify-content:center">
                    <div class="relative w:100p h:100p max-w:{{ maxWidth }} flex justify-content:between">
                        <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10 ml:n24"></div>
                        <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10 mr:n24"></div>
                    </div>
                </div>
                {# Date #}
                <div class="relative md:min-w:112 flex-shrink:0 hidden sm:flex justify-content:start align-items:center font:sm opacity:60">
                    {{ icons.calendar('w:14 mr:6')}}
                    <time datetime="{{ date }}">
                        {{ date | dateFull }}
                    </time>
                </div>
                {# Centered #}
                <div class="relative flex align-items:center justify-content:start sm:justify-content:between gap:12 w:100p md:max-w:{{ maxWidth }} py:8 overflow:hidden">
                    {# Link #}
                    <button data-copy="{{ base.url }}{{ page.url }}" data-subheader-hide class="relative hidden sm:flex align-items:center justify-content:start overflow:hidden pl:8 pr:10 h:26 radius:xs bg:sheet-5 font:mono tracking:tighter font:xs border:1 border:ink-3 border-opacity:15 focus:primary group hover:bg:sheet-4 hover:shadow:2xs">
                        {{ icons.share('w:12 mr:4 color:primary-rg flex-shrink:0 ')}}
                        <div class="relative opacity:60 space:nowrap overflow:ellipsis w:100p focus:white group-hover:opacity:100">
                            {{ base.url }}{{ page.url }}
                        </div>
                        <div class="absolute right:0 top:0 w:12 h:100p bg:fade-right-sheet-5 focus:hide"></div>
                        <div data-confirm class="absolute right:0 top:0 w:58 h:100p flex align-items:center pl:6 pr:4 radius-l:xs color:white bg:primary-rg" style="transform: translate3d(3.625rem,0,0);">
                            Copied!
                        </div>
                    </button>
                    {# Buttons #}
                    <div data-subheader-hide class="font:xs medium relative flex align-items:center gap:4 flex-shrink:0">
                        <div class="relative">
                            {{ elements.btnBtn(
                                color="simple",
                                size="blog-nav",
                                label="Summary",
                                iconR=icons.iconOpenai('w:14 mr:n4 mt:n1 ml:4 color:primary-rg'),
                                hover=true,
                                classes='',
                                attr='data-modal-summary-trigger aria-expanded="false" aria-controls="modal-summary"'
                            )}} 
                        </div>
                        <div class="relative hidden sm:block">
                            {{ elements.btnLink(
                                color="simple",
                                size="blog-nav",
                                link="https://github.com/stillingdesign/blame.design/blob/main/src/blog/" ~ source,
                                label="Source",
                                iconR=icons.socialGithub('w:14 mr:n4 mt:n1 ml:4 color:primary-rg'),
                                hover=true,
                                classes=''
                            )}} 
                        </div>
                    </div>
                    {# Headline #}
                    <div data-subheader-show class="absolute w:100p sm:text:center font:serif font:lg leading:100 pb:4 overflow:hidden mask:fade-out-r sm:mask:none" style="opacity:0; transform:translate3d(0,32px,0);">
                        <p class="relative space:nowrap w:100p">
                            {{ headline }}
                        </p>
                    </div>
                </div>
                {# Author #}
                <div class="relative md:min-w:112 flex-shrink:0 flex justify-content:end align-items:center gap:8 font:sm">
                    <p class="opacity:60">
                        {{ author }}
                    </p>
                    <div class="relative w:24 h:24 bg:blue radius:full flex align-items:center justify-content:center overflow:hidden">
                        <img src="/assets/images/utility/avatar-mike-192.webp" alt class="relative flex w:100p h:100p object:cover">
                    </div>
                </div>
                {# Border #}
                <div class="absolute bottom:0 left:0 sm:left:n24 w:100p sm:w:plus48 border-t:1 border:ink-3 border-opacity:10"></div>
                {# Progress #}
                <div class="absolute bottom:0 left:0 sm:left:n24 w:100p sm:w:plus48">
                    <div data-progress class="border-t:1 border:primary-rg w:100p transform:left" style="transform: scale3d(0,1,1);"></div>
                </div>
            </div>
        </div>
        {# Summary #}
        <div data-modal-summary id="modal-summary" class="fixed top:0 left:0 z:9 w:100p h:100p px:24 flex align-items:center justify-content:center overflow:hidden" style="opacity:0; visibility:hidden;">
            {# Background #}
            <div data-modal-summary-bg class="absolute w:100p h:100p" style="background-color: rgba(217,217,217,0.95); opacity:0;"></div>
            {# Frame #}
            <div data-modal-summary-inner class="relative p:1 w:100p max-w:{{ maxWidth }} bg:edge-2 radius:xl shadow:2xl" style="opacity:0; transform: scale3d(0.5,0.5,0.5);">
                <div class="relative w:100p flex flex:col bg:sheet-4 radius:15 max-h:512 overflow:scroll">
                    <div class="relative flex align-items:center justify-content:between px:24 sm:px:48 pt:18 sm:pt:32">
                        <div class="flex align-items:center gap:6">
                            <h2 class="font:lg sm:font:xl medium tracking:tighter">
                                Summary
                            </h2>
                            <div>
                                {{ elements.tag(
                                    color="blue",
                                    size="xs",
                                    label="<span class='hidden sm:inline'>Powered</span> by OpenAI",
                                    iconR=icons.iconOpenai('w:12 ml:4 mt:n1 mb:n1'),
                                    classes=''
                                )}}
                            </div>
                        </div>
                        {{ elements.btnBtn(
                            color="simple",
                            size="xs",
                            label="Close",
                            hover=true,
                            attr='data-modal-summary-close',
                            classes='pointer-events:auto'
                        )}}
                    </div>
                    <p class="font:lg sm:font:xl leading:200 sm:leading:180 opacity:70 px:24 sm:px:48 pb:24 sm:pb:48 pt:8 sm:pt:16">
                        {{ summary | safe }}
                    </p>
                </div>
            </div>
        </div>
        {# Image #}
        <div data-hero-img class="container z:8 ">
            <div class="relative w:plus48 ml:n24 bg:blue">
                <picture class="relative">
                    <source media="(min-width: 1024px)" srcset="/assets/images/blog/{{ heroPath }}-hero-md.webp">
                    <source media="(min-width: 768px)" srcset="/assets/images/blog/{{ heroPath }}-hero-sm.webp">
                    <source media="(max-width: 767px)" srcset="/assets/images/blog/{{ heroPath }}-hero.webp">
                    <img src="/assets/images/blog/{{ heroPath }}-hero.jpg" class="relative w:100p h:auto" width="1152" height="864" alt="{{ ogImageAlt }}">
                </picture>
                <div class="absolute bottom:8 right:8 px:4 radius:2xs medium tracking:loose uppercase font:2xs bg:white bg-opacity:50 shadow:2xs">
                    Made with {{ imageSource }}
                </div>
            </div>
        </div>
        {# Content #}
        <div data-content class="container flex flex:col align-items:center lg:align-items:stretch lg:flex:row justify-content:between pt:24 lg:pt:96">
            {# Left Rail • ToC #}
            <div data-blog-toc class="relative w:100p max-w:{{maxWidth}} lg:max-w:192 mb:48">
                <div class="sticky top:112 flex flex:col w:100p pt:10 lg:px:0 lg:pt:0 bg:sheet-5 bg-opacity:50 lg:bg:transparent radius:xl lg:radius:none border:1 lg:border:0 border:black border-opacity:10 overflow:hidden">
                    <h2 class="relative font:lg mb:4 medium px:16 lg:px:0">
                        {% if tocLabel %}{{ tocLabel }}{% else %}Contents{% endif %}
                    </h2>
                    <ol class="relative flex flex:col border-t:1 border:black border-opacity:10 border:dashed mb:n2 lg:mb:0">
                    {% for link in toc %}
                        <li class="toc-link">
                            <a data-anchor-scroll href="{{ link.link }}">
                                <div class="left">
                                    <div class="tag">
                                        {{ link.tag }}
                                    </div>
                                    <div class="label">
                                        <p>
                                            {{ link.title }}
                                        </p>
                                    </div>
                                </div>
                                <div class="right">
                                    {{ icons.chevR('w:14') }}
                                </div>
                            </a>
                            <div class="w:100p border-b:1 border:black border-opacity:10 border:dashed mt:2"></div>
                            {% if link.items %}
                                <ol class="relative flex flex:col">
                                    {% for item in link.items %}
                                        <li class="toc-link">
                                            <a data-anchor-scroll href="{{ item.link }}">
                                                <div class="left">
                                                    <div class="tag">
                                                        {{ item.tag }}
                                                    </div>
                                                    <div class="label">
                                                        <p>
                                                            {{ item.title }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    {{ icons.chevR('w:14') }}
                                                </div>
                                            </a>
                                        </li>
                                        <div class="border-b:1 border:black border-opacity:10 border:dashed mt:2"></div>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {# Center #}
            <div class="relative w:100p max-w:{{ maxWidth }} flex-shrink:0">
                <div id="content-start"></div>
                <div class="markdown">
                    {{ content | safe }}
                </div>
            </div>
            {# Right Rail #}
            <div class="relative w:100p lg:max-w:192 h:100p"></div>
        </div>
    </section>


</main>