@use "sass:map";
@use "uniform" as *;

.animate\:rotate-clockwise-20 { animation: rotate-clockwise 20s linear infinite; }
.animate\:rotate-counterclockwise-10 { animation: rotate-counterclockwise 10s linear infinite; }
.animate\:rotate-signup-gradients { animation: rotate-counterclockwise 20s linear infinite; }

@keyframes rotate-clockwise {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes rotate-counterclockwise {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

.animate\:gradient-highlight {
    background: var(--highlight-across);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    animation: gradient-highlight 3500ms linear infinite normal;
}

@keyframes gradient-highlight {
	0% { background-position: 0% 0%; }
	100% { background-position: -200% 0%; }
}

// Conic Gradient Rotation Animation
@property --conic-card-spin {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
  
.animate\:conic-card-spin-clockwise { animation: 10000ms linear 0ms infinite conic-card-spin-clockwise; }
.animate\:conic-card-spin-counter-clockwise { animation: 10000ms linear 0ms infinite conic-card-spin-counter-clockwise; }
  
@keyframes conic-card-spin-clockwise {
    0%   {--conic-card-spin: 0deg;}
    100% {--conic-card-spin:360deg;}
}

@keyframes conic-card-spin-counter-clockwise {
    0%   {--conic-card-spin: 270deg;}
    100% {--conic-card-spin:-90deg;}
}

.conic\:card-spin-clockwise { background: conic-gradient(from var(--conic-card-spin) at 50% 50%, rgba(var(--purple), 0) -270deg, rgba(var(--purple), 0) 0deg, rgba(var(--blue-i), 0.5) 22.5deg, rgba(var(--teal-i), 1) 45deg, rgba(var(--blue-i), 0.5) 67.5deg, rgba(var(--purple), 0) 90deg, rgba(var(--purple), 0) 360deg); }
.conic\:card-spin-counter-clockwise-test { background: conic-gradient(from var(--conic-card-spin) at 50% 50%, rgba(var(--purple), 0) 0deg, rgba(var(--blue-i), 0.5) 22.5deg, rgba(var(--teal-i), 1) 45deg, rgba(var(--blue-i), 0.5) 67.5deg, rgba(var(--purple), 0) 90deg); }

.conic\:card-spin-blue {
    background: conic-gradient(from var(--conic-card-spin) at 50% 50%,
        rgba(var(--purple), 0) 0deg,
        rgba(var(--blue-i), 0.5) 22.5deg,
        rgba(var(--teal-i), 1) 45deg, 
        rgba(var(--blue-i), 0.5) 67.5deg,
        rgba(var(--purple), 0) 90deg,
        rgba(var(--purple), 0) 180deg,
        rgba(var(--blue-i), 0.5) 202.5deg,
        rgba(var(--teal-i), 1) 225deg, 
        rgba(var(--blue-i), 0.5) 247.5deg,
        rgba(var(--purple), 0) 270deg,
);}

.animate\:message-1 { animation: messageBounce1 1000ms cubic-bezier(0.6,0,0.4,1) infinite normal; }
.animate\:message-2 { animation: messageBounce2 1000ms cubic-bezier(0.6,0,0.4,1) infinite normal; }
.animate\:message-3 { animation: messageBounce3 1000ms cubic-bezier(0.6,0,0.4,1) infinite normal; }

@keyframes messageBounce1 {
    0%  {transform: translateY(0);}
    25% {transform: translateY(-0.25rem);}
    50% {transform: translateY(0);}
}

@keyframes messageBounce2 {
    0%  {transform: translateY(0);}
    50% {transform: translateY(-0.25rem);}
    75% {transform: translateY(0);}
}

@keyframes messageBounce3 {
    0%   {transform: translateY(0);}
    75%  {transform: translateY(-0.25rem);}
    100% {transform: translateY(0);}
}