@use "sass:map";
@use "uniform" as *;

.kern\:normal { font-kerning:normal; }
.antialiased { -webkit-font-smoothing: antialiased; }
.blur\:fix { transform: translate3d(0, 0, 0); }
.overflow\:fix {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.scrollbar\:dark { scrollbar-color: rgba(var(--edge-1-i), 1) rgba(var(--sheet-4-i), 1); }
.scrollbar\:dark::-webkit-scrollbar { width: 1rem; }
.scrollbar\:dark::-webkit-scrollbar-thumb { background: rgba(var(--edge-1-i), 1); border-radius: 999px; border:4px solid rgba(var(--sheet-4-i), 1); }
.scrollbar\:dark::-webkit-scrollbar-track { background: rgba(var(--sheet-4-i), 1); }

.gradient-text { background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.animate\:gradient-highlight {
    background: var(--highlight-across);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    animation: gradient-highlight 3500ms linear infinite normal;
}

@keyframes gradient-highlight {
	0% { background-position: 0% 0%; }
	100% { background-position: -200% 0%; }
}

// Homepage Phone Scroll
[data-phone-1] { transform: translate3d(0px, 35%, 0px); }
[data-phone-2] { transform: translate3d(100%, 35%, 0px); }
[data-phone-3] { transform: translate3d(202%, 35%, 0px); }
[data-phone-m2] { transform: translate3d(-100%, 35%, 0px); }
[data-phone-m3] { transform: translate3d(-202%, 35%, 0px); }

@media (min-width: 768px) {
    [data-phone-1] { transform: translate3d(0px, 35%, 0px); }
    [data-phone-2] { transform: translate3d(100%, 35%, 0px); }
    [data-phone-3] { transform: translate3d(202%, 35%, 0px); }
    [data-phone-m2] { transform: translate3d(-100%, 35%, 0px); }
    [data-phone-m3] { transform: translate3d(-202%, 35%, 0px); }
}

@media (min-width: 1024px) {
    [data-phone-1] { transform: translate3d(0px, 35%, 0px); }
    [data-phone-2] { transform: translate3d(100%, 35%, 0px); }
    [data-phone-3] { transform: translate3d(202%, 35%, 0px); }
    [data-phone-4] { transform: translate3d(304%, 35%, 0px); }
    [data-phone-5] { transform: translate3d(406%, 35%, 0px); }
}

@media (min-width: 1280px) {
    [data-phone-1] { transform: translate3d(0px, 256px, 0px); }
    [data-phone-2] { transform: translate3d(128px, 232px, 0px); }
    [data-phone-3] { transform: translate3d(240px, 192px, 0px); }
    [data-phone-4] { transform: translate3d(336px, 144px, 0px); }
    [data-phone-5] { transform: translate3d(424px, 96px, 0px); }
}