$colors: (

    white: #FFFFFF,
    black: #000000,
    primary-rg: #206BFF,
    primary-hv: #0053FA,

    // Light Themed
    link-rg: #004EEB,
    link-hv: #0042C7,
    ink-1:   #5C5C5C,
    ink-2:   #4A4A4A,
    ink-3:   #0D0D0D,
    sheet-1: #FFFFFF, // Highlight
    sheet-2: #FAFAFA, // Subject
    sheet-3: #F5F5F5, // Foreground
    sheet-4: #EFEFEF, // Middleground
    sheet-5: #E6E6E6, // Background
    sheet-6: #D9D9D9, // Shaded
    edge-1:  #E0E0E0,
    edge-2:  #CCCCCC,
    red:     #CC0030,
    orange:  #E36D00,
    yellow:  #EFB700,
    green:   #006B38,
    teal:    #008799,
    blue:    #2079FF,
    purple:  #7A05FF,
    pink:    #F700DE,

    // Dark Themed
    link-rg-i: #5C92FF,
    link-hv-i: #7AA7FF,
    ink-1-i:   #969696,
    ink-2-i:   #B3B3B3,
    ink-3-i:   #FFFFFF,
    sheet-1-i: #2E2E2E, // Highlight
    sheet-2-i: #272727, // Subject
    sheet-3-i: #1F1F1F, // Foreground
    sheet-4-i: #171717, // Middleground
    sheet-5-i: #101010, // Background
    sheet-6-i: #080808, // Shaded
    edge-1-i:  #404040,
    edge-2-i:  #333333,
    red-i:     #FF5C77,
    orange-i:  #FF910B,
    yellow-i:  #EFD300,
    green-i:   #00BE63,
    teal-i:    #00ADC4,
    blue-i:    #2079FF,
    purple-i:  #9962FF,
    pink-i:    #FF5EDF,
);