@use "ratio" as *;

$utilities: (
    background-color: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
        variants: (
            transparent: transparent,
        ),
    ),
    background: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
        variants: (
            transparent: transparent,
        ),
    ),
    border: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
    ),
    border-radius: (
        variants: (
            25p: 25%,
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    border-top-radius: (
        variants: (
            25p: 25%,
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    border-bottom-radius: (
        variants: (
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    border-bottom-left-radius: (
        variants: (
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    border-bottom-right-radius: (
        variants: (
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    border-top-left-radius: (
        variants: (
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    border-top-right-radius: (
        variants: (
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            15: 0.9375rem,
        ),
    ),
    bottom: (
        variants: (
            unset: unset,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
            n40p: -40%,
            8p: 8%,
            50p: 50%,
            58p: 58%,
        ),
    ),
    color: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
    ),
    font-size: (
        variants: (
            3xs: 0.5rem,
            13xl: 7rem,
            14xl: 8rem,
            15xl: 9rem,
            16xl: 10rem,
            17xl: 11rem,
            18xl: 12rem,
            19xl: 13rem,
            20xl: 14rem,
            '1-5vw': 1.5vw,
            '1-75vw': 1.75vw,
            2vw: 2vw,
            '2-25vw': 2.25vw,
            '2-5vw': 2.5vw,
            '3-75vw': 3.75vw,
            4vw: 4vw,
            '4-5vw': 4.5vw,
            5vw: 5vw,
            '5-75vw': 5.75vw,
            '6-25vw': 6.25vw,
            7vw: 7vw,
            8vw: 8vw,
            '8-5vw': 8.5vw,
            '10-5vw': 10.5vw,
            11vw: 11vw,
            14vw: 14vw,
            15vw: 15vw,
            20vw: 20vw,
        ),
    ),
    height: (
        variants: (
            44: 2.75rem,
            46: 2.875rem,
            480: 30rem,
            100p: 100%,
            110p: 110%,
            200p: 200%,
            minus24: calc(100% - 1.5rem),
            minus48: calc(100% - 3rem),
            minus56: calc(100vh - 3.5rem),
            minus64: calc(100% - 4rem),
            minus128: calc(100% - 8rem),
            minus320: calc(100% - 20rem),
            plus2: calc(100% + 0.125rem),
            plus24: calc(100% + 1.5rem),
            plus48: calc(100% + 3rem),
            plus96: calc(100% + 6rem),
            plus128: calc(100% + 8rem),
            plus144: calc(100% + 9rem),
            plus160: calc(100% + 10rem),
            plus192: calc(100% + 12rem),
            plus256: calc(100% + 16rem),
            plus320: calc(100% + 20rem),
        ),
    ),
    line-height: (
        responsive: true,
        variants: (
            80: 0.8,
            85: 0.85,
            90: 0.9,
        ),
    ),
    left: (
        variants: (
            unset: unset,
            n22: -1.375rem,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
            7: 0.4375rem,
        ),
    ),
    letter-spacing: (
        responsive: true,
        variants: (
            unset: unset,
            n5: -0.05em,
            n6: -0.06em,
            n7: -0.07em,
        ),
    ),
    max-height: (
        variants: (
            100p: 100%,
        ),
    ),
    max-width: (
        variants: (
            304: 19rem,
            336: 21rem,
            352: 22rem,
            416: 26rem,
            432: 27rem,
            464: 29rem,
            528: 33rem,
            672: 42rem,
            704: 44rem,
            736: 46rem,
            832: 52rem,
            864: 54rem,
            1176: 73.5rem,
            1200: 75rem,
            1224: 76.5rem,
            1248: 78rem,
            1920: 120rem,
        ),
    ),
    min-width: (
        variants: (
            64: 4rem,
            72: 4.5rem,
            80: 5rem,
            96: 6rem,
            112: 7rem,
        ),
    ),
    min-height: (
        variants: (
            48: 3rem,
            56: 3.5rem,
            64: 4rem,
            72: 4.5rem,
            80: 5rem,
            88: 5.5rem,
            96: 6rem,
            112: 7rem,
            896: 56rem,
            1024: 64rem,
            1152: 72rem,
            120vh: 120vh,
        ),
    ),
    padding-bottom: (
        variants: (
            3: 0.1875rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            11: 0.6875rem,
            13: 0.8125rem,
            15: 0.9375rem,
            88: 5.5rem,
        ),
    ),
    padding-left: (
        variants: (
            44: 2.75rem,
        ),
    ),
    padding-right: (
        variants: (
            44: 2.75rem,
        ),
    ),
    padding-top: (
        variants: (
            3: 0.1875rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            11: 0.6875rem,
            13: 0.8125rem,
            15: 0.9375rem,
            33: 2.0625rem,
            272: 17rem,
            6p: 6%,
            12p: 12%,
            18p: 18%,
            24p: 24%,
            30p: 30%,
            36p: 36%,
        ),
    ),
    right: (
        variants: (
            unset: unset,
            208: 13rem,
            272: 17rem,
            304: 19rem,
            336: 21rem,
            352: 22rem,
            448: 28rem,
            480: 30rem,
            496: 31rem,
            512: 32rem,
            576: 36rem,
            608: 38rem,
            640: 40rem,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
            7: 0.4375rem,
        ),
    ),
    scale: (
        pseudos: (hover, group-hover, focus, group-focus),
        variants: (
            103: 1.03,
        ),
    ),
    text-decoration: (
        pseudos: (hover, group-hover, focus, group-focus),
    ),
    top: (
        variants: (
            unset: unset,
            46: 2.875rem,
            184: 11.5rem,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
        ),
    ),
    transition-timing-function: (
        variants: (
            ease-out: ease-out,
            cubic-in: cubic-bezier(0.66, 0, 1, 0.33),
            cubic-out: cubic-bezier(0, 0.66, 0.33, 1),
            cubic-in-out: cubic-bezier(0.66, 0, 0.33, 1),
            quint-in: cubic-bezier(0.78, 0, 1, 0.22),
            quint-out: cubic-bezier(0, 0.78, 0.22, 1),
            quint-in-out: cubic-bezier(0.78, 0, 0.22, 1),
        ),
    ),
    translate-x: (
        pseudos: (hover, group-hover, focus, group-focus),
    ),
    white-space: (
        responsive: true,
    ),
    width: (
        pseudos: (hover, group-hover, focus, group-focus),
        variants: (
            auto: auto,
            0: 0,
            44: 2.75rem,
            66: 4.125rem,
            68: 4.25rem,
            86: 5.375rem,
            88: 5.5rem,
            100: 6.25rem,
            768: 48rem,
            4p: 4%,
            5p: 5%,
            6p: 6%,
            8p: 8%,
            10p: 10%,
            12p: 12%,
            14p: 14%,
            16p: 16%,
            25p: 25%,
            40p: 40%,
            120p: 120%,
            225p: 225%,
            plus2: calc(100% + 0.125rem),
            plus12: calc(100% + 0.75rem),
            plus24: calc(100% + 1.5rem),
            plus47: calc(100% + 2.9375rem),
            plus48: calc(100% + 3rem),
            plus96: calc(100% + 6rem),
            plus192: calc(100% + 12rem),
            plus384: calc(100% + 24rem),
            minus24: calc(100% - 1.5rem),
            minus48: calc(100% - 3rem),
            minus96: calc(100% - 6rem),
        ),
    ),
    z-index: (
        responsive: true,
        variants: (
            n1: -1,
        ),
    ),
    native-ratio: $ratio
);