@use "ratio" as *;

$utilities: (
    background-color: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
        variants: (
            transparent: transparent,
        ),
    ),
    background: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
        variants: (
            transparent: transparent,
        ),
    ),
    border: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
    ),
    border-radius: (
        variants: (
            100p: 100%,
            2: 0.125rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
        ),
    ),
    bottom: (
        variants: (
            unset: unset,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
            8p: 8%,
            50p: 50%,
            58p: 58%,
        ),
    ),
    color: (
        pseudos: (hover, group-hover, focus, group-focus),
        responsive: true,
    ),
    font-size: (
        variants: (
            3xs: 0.5rem,
            13xl: 7rem,
            14xl: 8rem,
            15xl: 9rem,
            16xl: 10rem,
            '2-25vw': 2.25vw,
            '4-5vw': 4.5vw,
            '5-75vw': 5.75vw,
            11vw: 11vw,
            20vw: 20vw,
        ),
    ),
    height: (
        variants: (
            44: 2.75rem,
            100p: 100%,
            200p: 200%,
            minus56: calc(100vh - 3.5rem),
            plus24: calc(100% + 1.5rem),
            plus48: calc(100% + 3rem),
            plus96: calc(100% + 6rem),
        ),
    ),
    left: (
        variants: (
            unset: unset,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
            7: 0.4375rem,
        ),
    ),
    max-width: (
        variants: (
            672: 42rem,
            704: 44rem,
            736: 46rem,
            1176: 73.5rem,
            1200: 75rem,
            1224: 76.5rem,
            1248: 78rem,
            1920: 120rem,
        ),
    ),
    min-width: (
        variants: (
            64: 4rem,
            72: 4.5rem,
            80: 5rem,
            96: 6rem,
            112: 7rem,
        ),
    ),
    min-height: (
        variants: (
            48: 3rem,
            56: 3.5rem,
            64: 4rem,
            72: 4.5rem,
            80: 5rem,
            88: 5.5rem,
            96: 6rem,
            112: 7rem,
        ),
    ),
    padding-bottom: (
        variants: (
            3: 0.1875rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            11: 0.6875rem,
            13: 0.8125rem,
            15: 0.9375rem,
        ),
    ),
    padding-left: (
        variants: (
            44: 2.75rem,
        ),
    ),
    padding-right: (
        variants: (
            44: 2.75rem,
        ),
    ),
    padding-top: (
        variants: (
            3: 0.1875rem,
            5: 0.3125rem,
            7: 0.4375rem,
            9: 0.5625rem,
            11: 0.6875rem,
            13: 0.8125rem,
            15: 0.9375rem,
        ),
    ),
    right: (
        variants: (
            unset: unset,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
            7: 0.4375rem,
        ),
    ),
    scale: (
        pseudos: (hover, group-hover, focus, group-focus),
        variants: (
            103: 1.03,
        ),
    ),
    text-decoration: (
        pseudos: (hover, group-hover, focus, group-focus),
    ),
    top: (
        variants: (
            unset: unset,
            46: 2.875rem,
            n448: -28rem,
            n512: -32rem,
            n640: -40rem,
        ),
    ),
    transition-timing-function: (
        variants: (
            ease-out: ease-out,
            cubic-in: cubic-bezier(0.66, 0, 1, 0.33),
            cubic-out: cubic-bezier(0, 0.66, 0.33, 1),
            cubic-in-out: cubic-bezier(0.66, 0, 0.33, 1),
            quint-in: cubic-bezier(0.78, 0, 1, 0.22),
            quint-out: cubic-bezier(0, 0.78, 0.22, 1),
            quint-in-out: cubic-bezier(0.78, 0, 0.22, 1),
        ),
    ),
    translate-x: (
        pseudos: (hover, group-hover, focus, group-focus),
    ),
    width: (
        pseudos: (hover, group-hover, focus, group-focus),
        variants: (
            auto: auto,
            0: 0,
            44: 2.75rem,
            66: 4.125rem,
            68: 4.25rem,
            86: 5.375rem,
            100: 6.25rem,
            plus24: calc(100% + 1.5rem),
            plus48: calc(100% + 3rem),
            plus96: calc(100% + 6rem),
        ),
    ),
    z-index: (
        responsive: true,
        variants: (
            n1: -1,
        ),
    ),
    native-ratio: $ratio
);