---
layout: "main.njk"
seoTitle: "Blame: Design-led growth for SaaS companies"
seoDescription: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogTitle: "Blame: Design-led growth for SaaS companies"
ogDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogImage: "/assets/images/og/default.png"
ogImageAlt: "This is the alt text for social cards images"
theme: dark
changefreq: daily
---
{% import "components/_icons.njk" as icons %}
{% import "components/_elements.njk" as elements %}
{% import "components/_graphics.njk" as graphics %}

<main data-page="home" class="w:100p overflow:hidden">

    {# Particles #}
    <canvas data-particles class="absolute top:0 left:0 w:100p h:100vh"></canvas>

    {# Hero #}
    <section data-hero class="section bg:radial-t-sheet-4-i overflow:hidden z:1">
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 mask:fade-out-b"></div>
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 mask:fade-out-b"></div>
            </div>
        </div>
        {# Content #}
        <div data-hero-content class="relative w:100p flex flex:col align-items:center justify-content:center pt:96 lg:pt:128">
            {# Horz Divider #}
            <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10"></div>
            {# Testing Elements #}
            <div class="container flex justify-content:between align-items:center w:100p py:8">
                {# Handles #}
                <div class="absolute top:n8 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                <div class="absolute top:n8 right:8 sm:right:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                {# Left #}
                <div class="relative flex align-items:center gap:4">
                    {{ elements.btnBtn(
                        color="blue-i",
                        size="xs",
                        label="Test A",
                        attr='data-hero-btn="a"',
                        classes='cursor:not-allowed'
                    )}}
                    {{ elements.btnBtn(
                        color="disabled-i",
                        size="xs",
                        label="Test B",
                        attr='data-hero-btn="b"',
                        hover=true,
                        classes=''
                    )}}
                    <div class="hidden sm:block font:2xs opacity:40 ml:4 sm:ml:8 font:mono uppercase tracking:loosest">
                        headline
                    </div>
                </div>
                {# Right #}
                <div class="relative flex align-items:center gap:4">
                    <div class="font:2xs opacity:40 mr:4 sm:mr:8 font:mono uppercase tracking:loosest">
                        Conversion <span class="hidden sm:inline">rate</span>
                    </div>
                    {# Results #}
                    <div data-hero-results class="relative">
                        <div data-hero-results-a class="relative">
                            {{ elements.tag(
                                color="green-i",
                                size="xs",
                                label="+9.8%",
                                classes=''
                            ) }}
                        </div>
                        <div data-hero-results-b class="absolute right:0 top:24" style="opacity:0; visibility:hidden;">
                            {{ elements.tag(
                                color="red-i",
                                size="xs",
                                label="-1.3%",
                                classes=''
                            ) }}
                        </div>
                    </div>
                </div>
            </div>
            {# Horz Divider #}
            <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 sm:mb:24"></div>
            {# Headline #}
            <div class="relative w:100p flex flex:col align-items:center justify-content:center">
                {# Horz Dividers #}
                <div class="absolute w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 bottom:50p sm:bottom:58p lg:bottom:160 lg:mb:16"></div>
                <div class="absolute w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 bottom:0 sm:bottom:20 lg:bottom:24"></div>
                {# Headline Desktop #}
                <h1 data-headline class="container font:20vw sm:font:11vw lg:font:15xl medium tracking:tighter leading:100 text:center md:text:left">
                    <div class="relative overflow:hidden w:100p">
                        <div data-headline-one class="relative w:100p">
                            <div data-headline-one-a class="relative pb:4 sm:pb:8 w:100p">
                                <span class="sm:hidden space:nowrap">Growth</span>
                                <span class="hidden sm:inline">Design-led growth</span>
                            </div>
                            <div data-headline-one-b class="absolute pb:4 sm:pb:8 w:100p" style="opacity:0; visibility:hidden; transform: rotate(6deg);">
                                <span class="line-through sm:hidden">Marketing</span>
                                <span class="hidden sm:inline">Stop marketing.</span>
                            </div>
                        </div>
                    </div>
                    <div class="relative overflow:hidden w:100p">
                        <div data-headline-two class="relative w:100p">
                            <div data-headline-two-a class="relative pb:8 w:100p mask:fade-out-b">
                                <span class="sm:hidden">by design</span>
                                <span class="hidden sm:inline">for SaaS companies</span>
                            </div>
                            <div data-headline-two-b class="absolute pb:8 w:100p mask:fade-out-b" style="opacity:0; visibility:hidden; transform: rotate(6deg);">
                                <span class="sm:hidden">Making</span>
                                <span class="hidden sm:inline">Start making.</span>
                            </div>
                        </div>
                    </div>
                </h1>
            </div>
            {# Handles #}
            <div class="container mt:n12 sm:mt:n32 lg:mt:n36 pt:1">
                <div class="absolute left:8 sm:left:n28 mt:4 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                <div class="absolute right:8 sm:right:n28 mt:4 mr:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
            </div>
            {# Subhead + CTA #}
            <div class="container z:3 flex flex:col md:flex:row md:justify-content:end pt:24 sm:pt:28 md:pt:0 pb:64 sm:pb:96 md:pb:0 md:py:96">
                <p class="font:5-75vw sm:font:4-5vw md:font:2-25vw lg:font:4xl leading:150 tracking:tight opacity:50 md:w:50p lg:w:100p lg:max-w:640 text:center md:text:left pb:48 sm:pb:48 md:pb:0">
                   Unleash creative people and processes <span class="space:nowrap">to unlock</span> the next large wave of growth <span class="space:nowrap">for your business.</span>
                </p>
                <div class="md:absolute md:top:0 md:left:0 w:100p md:w:5-12 h:100p pt:8">
                    <div class="relative w:100p h:100p flex align-items:center justify-content:center md:pl:12">
                        {# Grid Lines #}
                        <div class="absolute w:plus24 sm:w:384 h:160 md:h:192 flex align-items:center justify-content:center">
                            <div class="absolute top:12 w:plus24 border-t:1 border:ink-3-i border-opacity:10 border:dashed"></div>
                            <div class="absolute bottom:12 w:plus24 border-t:1 border:ink-3-i border-opacity:10 border:dashed"></div>
                            <div class="hidden sm:block absolute left:12  h:plus24 border-l:1 border:ink-3-i border-opacity:10 border:dashed"></div>
                            <div class="hidden sm:block absolute right:12 h:plus24 border-l:1 border:ink-3-i border-opacity:10 border:dashed"></div>
                            <div class="absolute left:n1  sm:left:12  top:12 sm:ml:n1 mt:n1 w:4 h:4 bg:ink-3-i radius:full flex align-items:center justify-content:center"></div>
                            <div class="absolute right:n1 sm:right:12 top:12 sm:mr:n1 mt:n1 w:4 h:4 bg:ink-3-i radius:full flex align-items:center justify-content:center"></div>
                            <div class="absolute left:n1  sm:left:12  bottom:12 sm:ml:n1 mb:n1 w:4 h:4 bg:ink-3-i radius:full flex align-items:center justify-content:center"></div>
                            <div class="absolute right:n1 sm:right:12 bottom:12 sm:mr:n1 mb:n1 w:4 h:4 bg:ink-3-i radius:full flex align-items:center justify-content:center"></div>
                        </div>
                        {# CTA #}
                        {{ elements.formSingle(
                            color="primary-i",
                            size="xl",
                            classes="min-w:288",
                            icon=icons.emailOutline('w:100p'),
                            formName="subscribe",
                            fieldType="email",
                            fieldName="email",
                            placeholder="Enter email for updates",
                            animate=true, 
                            hover=true,
                            attr="data-hero-form",
                            attrInner=""
                        )}}
                    </div>
                </div>
            </div>
        </div>
        {# Graphic #}
        <div class="relative w:100p flex flex:col align-items:center justify-content:center">
            <div class="container">
                {# Gradients #}
                <div class="absolute w:100p top:n160 left:384 max-w:896 flex ratio:2-1 bg:radial-teal-i opacity:20"></div>
                <div class="absolute w:100p top:n320 left:0 max-w:896 flex ratio:1-1 bg:radial-blue-i opacity:20"></div>
                <div class="absolute w:100p top:n448 left:n448 max-w:896 flex ratio:1-1 bg:radial-purple-i opacity:20"></div>
                {# Visuals #}
                <div class="relative w:100p flex flex:col align-items:center justify-content:center">
                    {# Browser #}
                    <div class="relative w:100p lg:w:plus96 flex bg:sheet-1-8-4 backdrop backdrop-blur:md radius:xl shadow:xl p:1 overflow:hidden">
                        <div class="relative w:100p radius:15 bg:sheet-6-i bg-opacity:60 flex flex:col align-items:center justify-content:start ratio:3-4 sm:ratio:4-3 md:ratio:16-9 overflow:hidden overflow:fix z:2">
                            {# Status Bar #}
                            <div class="relative flex flex-shrink:0 justify-content:between w:100p pl:18 pr:2 pt:2 border-b:1 border:ink-3-i border-opacity:10 z:1">
                                <div class="flex align-items:center gap:4 pb:2 flex-shrink:0">
                                    <div class="w:8 h:8 radius:full bg-opacity:70 border:1 border:green-i bg:green-i"></div>
                                    <div class="w:8 h:8 radius:full bg-opacity:70 border:1 border:yellow-i bg:yellow-i"></div>
                                    <div class="w:8 h:8 radius:full bg-opacity:70 border:1 border:red-i bg:red-i"></div>
                                    {{ icons.arrowL('ml:8 w:14 opacity:30')}}
                                    {{ icons.arrowR('w:14 opacity:30')}}
                                </div>
                                <div class="relative flex align-items:center justify-content:end w:100p sm:mask:fade-out-l md:mask:none">
                                    {% set tabClasses = 'border-x:1 border-t:1 bg:ink-3-i border:ink-3-i radius-t:md px:2 pt:2 pb:4 space:nowrap flex-shrink:0' %}
                                    <div class="hidden sm:block bg-opacity:0 border-opacity:0 opacity:60 {{ tabClasses }}">
                                        {{ elements.btnFake(
                                            color="tab-i",
                                            size="xs",
                                            label="Messaging",
                                            hover=true,
                                            iconL=icons.iconNotion('w:12 mr:4'),
                                            iconR=icons.close('w:12 ml:8 opacity:70'),
                                            classes=''
                                        ) }}
                                    </div>
                                    <div class="hidden sm:block w:1 h:12 bg:ink-3-i opacity:10"></div>
                                    <div class="hidden sm:block bg-opacity:0 border-opacity:0 opacity:60 {{ tabClasses }}">
                                        {{ elements.btnFake(
                                            color="tab-i",
                                            size="xs",
                                            label="Google Ads",
                                            hover=true,
                                            iconL=icons.iconGoogleAds('w:12 mr:4'),
                                            iconR=icons.close('w:12 ml:8 opacity:70'),
                                            classes=''
                                        ) }}
                                    </div>
                                    <div class="hidden sm:block w:1 h:12 bg:ink-3-i opacity:10"></div>
                                    <div class="hidden sm:block bg-opacity:0 border-opacity:0 opacity:60 {{ tabClasses }}">
                                        {{ elements.btnFake(
                                            color="tab-i",
                                            size="xs",
                                            label="Analytics",
                                            hover=true,
                                            iconL=icons.iconGoogleAnalytics('w:12 mr:4'),
                                            iconR=icons.close('w:12 ml:8 opacity:70'),
                                            classes=''
                                        ) }}
                                    </div>
                                    <div class="hidden sm:block w:1 h:12 bg:ink-3-i opacity:10"></div>
                                    <div class="hidden sm:block bg-opacity:0 border-opacity:0 opacity:60 {{ tabClasses }}">
                                        {{ elements.btnFake(
                                            color="tab-i",
                                            size="xs",
                                            label="LinkedIn",
                                            hover=true,
                                            iconL=icons.iconLinkedIn('w:12 mr:4'),
                                            iconR=icons.close('w:12 ml:8 opacity:70'),
                                            classes=''
                                        ) }}
                                    </div>
                                    <div class="hidden sm:block w:1 h:12 bg:ink-3-i opacity:10"></div>
                                    <div class="hidden sm:block bg-opacity:0 border-opacity:0 opacity:60 {{ tabClasses }}">
                                        {{ elements.btnFake(
                                            color="tab-i",
                                            size="xs",
                                            label="Weekly Signups",
                                            hover=true,
                                            iconL=icons.iconGoogleSheets('w:12 mr:4'),
                                            iconR=icons.close('w:12 ml:8 opacity:70'),
                                            classes=''
                                        ) }}
                                    </div>
                                    <div class="bg-opacity:4 border-opacity:10 opacity:60 {{ tabClasses }}">
                                        {{ elements.btnFake(
                                            color="tab-i",
                                            size="xs",
                                            label="Marketing site",
                                            hover=true,
                                            iconL=icons.pearIcon('w:12 mr:4'),
                                            iconR=icons.close('w:12 ml:8 opacity:70'),
                                            classes='space:nowrap'
                                        ) }}
                                    </div>
                                    <div class="relative flex align-items:center justify-content:center h:100p ratio:1-1 border:1">
                                        <div class="bg:ink-3-i bg-opacity:10 w:20 h:20 radius:full flex align-items:center justify-content:center">
                                            {{ icons.ellipsisH('w:12 opacity:50')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Page Contents #}
                            <div class="relative w:100p h:100p flex flex:col justify-content:start md:justify-content:center align-items:center md:align-items:start pt:72 md:pt:0 z:1">
                                {# Copy #}
                                <div class="relative z:3 flex flex:col align-items:center md:align-items:start justify-content:center pl:16 pr:16 md:pr:0 md:pl:48 md:h:100p text:center md:text:left">
                                    <div class="hidden md:block font:lg mb:16 pt:24 lg:pt:0">
                                        Think about it...
                                    </div>
                                    <div class="font:7vw sm:font:4xl md:font:6xl leading:120 tracking:tighter mb:24 sm:max-w:640 md:max-w:512 sm:pt:24 md:pt:0">
                                        <span class="opacity:50"><span class="tracking:tight">Your favorite tech company</span> <span class="tracking:tight"><span class="space:nowrap">is built</span> on authenticity and</span> <span class="space:nowrap">highly performant</span> design,</span> <span class="space:nowrap">not marketing hacks.</span>
                                    </div>
                                    <div class="hidden sm:flex align-items:center pb:16 sm:pb:0 lg:pb:8">
                                        {{ elements.btnFake(
                                            color="blue-i",
                                            size="lg",
                                            classes="mt:2",
                                            label="Click here now",
                                            iconL="",
                                            iconR="",
                                            animate=false,
                                            hover=true,
                                            attr="",
                                            attrInner=""
                                        )}}
                                        {{ elements.btnFake(
                                            color="text-i",
                                            size="lg",
                                            classes="mt:2",
                                            label="Click again later",
                                            iconL="",
                                            iconR="",
                                            animate=false,
                                            hover=true,
                                            attr="",
                                            attrInner=""
                                        )}}
                                    </div>
                                </div>
                                {# Phones Image #}
                                <div class="w:120p sm:w:100p h:100p absolute bottom:n40p sm:bottom:n192 md:bottom:0 md:right:0 flex align-items:start justify-content:center md:justify-content:end pt:24 md:pr:48 pointer-events:none">
                                    <div data-phone-5 class="hidden md:block relative w:5p lg:w:88 h:auto pt:30p lg:pt:320 mask:fade-out-r overflow:hidden" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-vercel.webp" alt="Phone mockup: Vercel Home Page" width="192" height="398" loading="lazy" class="relative w:225p lg:w:192 max-w:none h:auto opacity:30">
                                    </div>
                                    <div data-phone-4 class="hidden md:block relative w:6p lg:w:96 h:auto pt:24p lg:pt:256 mask:fade-out-r overflow:hidden" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-figma.webp" alt="Phone mockup: Figma Home Page" width="224" height="464" loading="lazy" class="relative w:225p lg:w:224 max-w:none h:auto opacity:40">
                                    </div>
                                    <div data-phone-3 class="relative w:14p sm:w:10p md:w:8p lg:w:112 h:auto pt:18p lg:pt:192 mask:fade-out-r overflow:hidden" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-linear.webp" alt="Phone mockup: Linear Home Page" width="256" height="530" loading="lazy" class="relative w:225p lg:w:256 max-w:none h:auto opacity:60">
                                    </div>
                                    <div data-phone-2 class="relative w:16p sm:w:12p md:w:10p lg:w:128 h:auto pt:12p lg:pt:128 mask:fade-out-r overflow:hidden" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-notion.webp" alt="Phone mockup: Notion Page" width="288" height="597" class="relative w:225p lg:w:288 max-w:none h:auto opacity:80">
                                    </div>
                                    <div data-phone-1 class="relative w:40p sm:w:25p lg:w:320 h:auto pt:6p lg:pt:72" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-apple.webp" alt="Phone mockup: Apple iPad Landing Page" width="320" height="663" class="relative w:100p h:auto">
                                    </div>
                                    <div data-phone-m2 class="relative w:16p sm:w:12p h:auto pt:12p mask:fade-out-l overflow:hidden flex justify-content:end md:hidden" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-figma.webp" alt="Phone mockup: Figma Home Page" width="224" height="464" class="relative w:225p max-w:none h:auto opacity:80">
                                    </div>
                                    <div data-phone-m3 class="relative w:14p sm:w:10p lg:w:112 h:auto pt:18p lg:pt:192 mask:fade-out-l overflow:hidden flex justify-content:end md:hidden" style="opacity:0; visibility:hidden;">
                                        <img src="/assets/images/home/phone-vercel.webp" alt="Phone mockup: Vercel Home Page" width="192" height="398" loading="lazy" class="relative w:225p lg:w:256 max-w:none h:auto opacity:60">
                                    </div>
                                </div>
                                {# Fader #}
                                <div class="absolute bottom:0 right:0 w:100p h:128 md:h:224 lg:h:288 bg:fade-down-i"></div>
                            </div>
                            {# Website Header #}
                            <div class="absolute top:56 w:100p px:16 sm:px:48 flex align-items:center justify-content:between z:1">
                                <div class="flex align-items:center gap:16">
                                    <div>
                                        {{ icons.pearWordmark('w:40') }}
                                    </div>
                                    <div class="hidden sm:block border-l:1 border:white h:12 mt:6"></div>
                                    <div class="hidden sm:flex align-items:center gap:14 font:xs opacity:70 pt:5 tracking:normal">
                                        <div>
                                            Products
                                        </div>
                                        <div>
                                            Solutions
                                        </div>
                                        <div>
                                            Use cases
                                        </div>
                                        <div>
                                            Support
                                        </div>
                                        <div>
                                            Pricing
                                        </div>
                                    </div>
                                </div>
                                {{ elements.btnFake(
                                    color="simple-i",
                                    size="xs",
                                    classes="mt:2",
                                    label="Try for free",
                                    iconL="",
                                    iconR="",
                                    animate=false,
                                    hover=true,
                                    attr="",
                                    attrInner=""
                                )}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Intro #}
    <section class="section pt:48 sm:pt:96 lg:pt:144">
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="absolute top:n12 left:0 w:100p h:224 bg:repeat mask:fade-out-x opacity:15" style="background-image: url('/assets/images/utility/sparkle-24.svg'); background-size: 1.5rem 1.5rem;">
                    <div class="absolute bottom:n224 left:0 w:448 h:448 bg:radial-sheet-6-i"></div>
                    <div class="hidden md:block absolute bottom:n128 right:n224 w:768 h:448 bg:radial-sheet-6-i"></div>
                    <div class="hidden md:block absolute bottom:n224 right:0 w:768 h:448 bg:radial-sheet-6-i"></div>
                    <div class="absolute w:100p h:100p bg:fade-down-i"></div>
                </div>
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 mask:fade-out-t"></div>
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 mask:fade-out-t"></div>
            </div>
        </div>
        {# Headline + Sub #}
        <div class="container flex flex:col md:flex:row md:align-items:end justify-content:between mb:36 sm:mb:56 md:mb:0">
            <div class="absolute left:n320 top:n256 w:768 flex ratio:1-1 bg:radial-white opacity:4"></div>
            <div class="absolute left:n320 top:n192 w:512 h:384 bg:radial-white opacity:6"></div>
            <div class="absolute right:n320 top:n384 w:640 h:448 bg:radial-purple-i opacity:10"></div>
            <div class="absolute right:0 top:n320 w:640 h:512 bg:radial-blue-i opacity:10"></div>
            <div class="absolute right:320 top:n384 w:640 h:640 bg:radial-teal-i opacity:10"></div>
            {# Headline #}
            <div class="relative font:8xl sm:font:11xl md:font:12xl medium w:100p tracking:tighter leading:100 max-w:320 sm:max-w:448 mb:12 md:mb:0">
                <div class="absolute top:0 left:0">
                    <div aria-hidden="true" class="absolute top:n32 left:n32 filter filter-blur:xl opacity:50 color:blue-i">
                        Power
                    </div>
                    <div aria-hidden="true" class="absolute top:16 left:16 filter filter-blur:xl opacity:80 color:purple-i">
                        Power
                    </div>
                    <div aria-hidden="true" class="absolute top:8 left:0 filter filter-blur:sm color:sheet-6-i">
                        Power
                    </div>
                    <div aria-hidden="true" class="absolute top:4 left:0 filter filter-blur:xs color:sheet-6-i opacity:40">
                        Power
                    </div>
                    <div aria-hidden="true" class="absolute top:0 left:n24 filter filter-blur:xs opacity:100 animate:gradient-highlight px:24 blur:fix">
                        Power
                    </div>
                </div>
                <h2 class="relative">
                    Power <span class="opacity:80">to <span class="space:nowrap">the makers</span></span>
                </h2>
            </div>
            {# Sub #}
            <p class="font:xl sm:font:4xl md:font:3xl lg:font:4xl leading:130 opacity:70 mb:4 lg:mb:2 max-w:320 sm:max-w:528 md:max-w:448 lg:max-w:528">
                Build, test, and iterate—remove all else. Do'ers know best. Stop <span class="space:nowrap">blocking them.</span>
            </p>
        </div>
        {# Horz Divider #}
        <div class="hidden md:block w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 md:mt:64 lg:mt:72 mb:28 lg:mb:32"></div>
        <div class="hidden md:block w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 md:mb:36 lg:mb:40"></div>
        {# Cards #}
        <div class="relative w:100p lg:w:auto">
            {# Vertical Grid #}
            <div class="hidden md:flex absolute top:n320 left:0 w:100p h:plus320 justify-content:between">
                <div></div>
                <div class="relative w:28 flex-shrink:0 flex justify-content:center h:100p">
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 mask:fade-out-t"></div>
                </div>
                <div class="relative w:28 flex-shrink:0 flex justify-content:center h:100p">
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 mask:fade-out-t"></div>
                </div>
                <div></div>
            </div>
            <ul class="container grid md:grid-cols:3 gap:36 sm:gap:28 section:pb">
                {# List items #}
                {% macro introCard(numb,head,desc,graphic) %}
                    <li class="relative flex">
                        <div class="hidden md:flex absolute top:n56 lg:top:n64 mt:n4 pt:1 lg:pt:0 lg:mt:n1 font:2xs font:mono uppercase tracking:looser gradient-text bg:white bg-opacity:30 align-items:center gap:4">
                            {{ icons.star('w:10 opacity:30 mt:n1') }}
                            <span>Principle 0{{ numb }}</span>
                        </div>
                        <div class="relative w:100p h:100p flex flex:col-reverse sm:flex:row md:flex:col sm:align-items:center md:align-items:stretch justify-content:between overflow:hidden">
                            <div class="w:100p sm:w:50p md:w:100p max-w:288 sm:max-w:336 md:max-w:none pt:16 sm:pt:0 md:pb:20 flex-shrink:0 lg:pr:48">
                                <h3 class="font:2xl sm:font:3xl md:font:2xl medium mb:6 sm:mb:12 leading:110">
                                    {{ head | safe }}
                                </h3>
                                <p class="font:lg sm:font:xl md:font:lg lg:font:xl opacity:70 md:max-w:288 lg:max-w:none">
                                    {{ desc | safe }}
                                </p>
                            </div>
                            <div class="relative w:100p sm:w:50p md:w:100p flex align-items:center justify-content:center ratio:4-3 sm:ratio:1-1 bg:sheet-5-i bg-opacity:80 radius:xl overflow:hidden border:1 border:white border-opacity:4">
                                {{ graphic }}
                            </div>
                        </div>
                    </li>
                {% endmacro %}
                {{ introCard(
                    numb='1',
                    head="You build it, you own it",
                    desc='Know-how drives efficiency, quality, <span class="space:nowrap">and results,</span> not corporate politics.',
                    graphic=graphics.buildOwn()
                )}}
                {{ introCard(
                    numb='2',
                    head="Land then expand",
                    desc='Start small, find what works, then scale with purpose to prevent misalignment.',
                    graphic=graphics.landExpand()
                )}}
                {{ introCard(
                    numb='3',
                    head="Better beats perfect",
                    desc='Don’t let subjective feedback stand <span class="space:nowrap">in the way</span> of fast and simple success.',
                    graphic=graphics.betterPerfect()
                )}}
            </ul>
        </div>
    </section>

    <section data-invert="light" class="section min-h:100vh pt:192 overflow:hidden bg:sheet-6 color:ink-3">
        <div class="container flex flex:col align-items:center gap:32">
            one person built this website
        </div>
    </section>

</main>