---
layout: "main.njk"
seoTitle: "Blame: Our Mission"
seoDescription: "Enable builders and creators to lead, watch business grow."
ogTitle: "Blame: Our Mission"
ogDesc: "Enable builders and creators to lead, watch business grow."
ogImage: "/assets/images/og/mission.jpg"
ogImageAlt: "Confused person with 90s style apparrel sitting on office chair with hands up in air in front of old computer with blame.design on screen."
theme: dark
changefreq: daily
---
{% import "components/_icons.njk" as icons %}
{% import "components/_elements.njk" as elements %}
{% import "components/_graphics.njk" as graphics %}

<main data-page="mission" class="w:100p overflow:hidden color:ink-3-i">

    {# Hero #}
    <section class="section pt:96 lg:pt:128">
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
            </div>
        </div>
        {# Horz Divider #}
        <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10"></div>
        {# Eyebrow #}
        <div class="container">
            {# Gradients #}
            <div class="absolute w:100p top:n192 left:80 sm:top:n320 sm:left:384 max-w:896 flex ratio:2-1 bg:radial-teal-i opacity:20"></div>
            <div class="absolute w:100p top:n256 left:n128 sm:top:n448 sm:left:0 max-w:896 flex ratio:1-1 bg:radial-blue-i opacity:20"></div>
            <div class="absolute w:100p top:n112 left:n256 sm:top:n512 sm:left:n448 max-w:896 flex ratio:1-1 bg:radial-purple-i opacity:20"></div>
            {# Handles #}
            <div class="absolute top:n8 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3-i"></div>
                <div class="h:1 w:100p bg:ink-3-i absolute"></div>
            </div>
            <div class="absolute top:n8 right:8 sm:right:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3-i"></div>
                <div class="h:1 w:100p bg:ink-3-i absolute"></div>
            </div>
            {# Content #}
            <h1 class="font:mono uppercase tracking:loose font:2xs leading:100 opacity:60 py:18">
                Blame's Mission
            </h1>
        </div>
        {# Horz Divider #}
        <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 mb:24"></div>
        {# Headline #}
        <div class="container">
            <h2 class="font:14vw sm:font:10-5vw md:font:8vw lg:font:12xl leading:110 tracking:tighter lg:tracking:tight gradient-text" style="background-image: linear-gradient(180deg, rgba(var(--ink-3-i),1) 25%, rgba(var(--ink-3-i),0.35) 150%);">
                Enable builders <span class="space:nowrap">and creators</span> <span class="space:nowrap">to lead,</span> watch business grow.
            </h2>
        </div>
        {# Horz Divider #}
        <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10 mt:32"></div>
    </section>

    {# Problem: Overarching #}
    <section class="relative w:100p max-w:100p">

        {# The Situation #}
        <div class="section">
            {# Vert Dividers #}
            <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
                <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10 hidden sm:block"></div>
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                </div>
            </div>
            {# Container #}
            <div class="container grid sm:grid-cols:2">
                {# Handles #}
                <div class="absolute top:n8 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                <div class="absolute top:n8 right:8 sm:right:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                {# Content #}
                <div class="relative flex align-items:center sm:justify-content:center font:10-5vw sm:font:7xl md:font:9xl font:serif tracking:tighter">
                    <div class="sm:hidden absolute bottom:8 left:n24 w:plus48 border-b:1 border:white border:dashed border-opacity:10"></div>
                    <h3 class="mb:8">
                        The situation
                    </h3>
                </div>
                <div class="relative pt:14 sm:pt:0 pb:24 sm:pb:0 sm:p:32 md:p:48">
                    <p class="font:5-75vw sm:font:2-5vw lg:font:4xl leading:150 opacity:60 sm:opacity:100">
                        Great design requires a wholistic understanding of problems and the ways in which they can be solved.
                    </p>
                </div>
            </div>
            {# Horz Divider #}
            <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10"></div>
        </div>

        {# Situation Explanation #}
        <div class="section">
            {# Vert Dividers #}
            <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
                <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                    <div class="hidden sm:block relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                    <div class="hidden sm:block relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                    <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                </div>
            </div>
            {# Container #}
            <div class="container grid sm:grid-cols:3 sm:gap:48 font:5vw sm:font:1-75vw md:font:1-5vw lg:font:xl tracking:normal leading:150">
                {# Handles #}
                <div class="absolute bottom:n8 left:8 sm:left:n28 mb:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                <div class="absolute bottom:n8 right:8 sm:right:n28 mb:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                    <div class="w:1 h:100p bg:ink-3-i"></div>
                    <div class="h:1 w:100p bg:ink-3-i absolute"></div>
                </div>
                {# Content #}
                <div class="relative px:16 py:16 sm:py:32 md:py:48 sm:px:16 md:px:24 pr:24 sm:pr:0">
                    <div class="sm:hidden absolute bottom:0 left:n24 w:plus48 border-b:1 border:white border:dashed border-opacity:10"></div>
                    <div class="sm:hidden absolute left:n12 h:16 border-l:1 border:primary-rg" style="top:17%; height:15%;"></div>
                    <p class="opacity:60 inline">
                        Business challenges are being <span class="space:nowrap">gate-kept</span> from the folks actually building solutions for them.
                    </p>
                </div>
                <div class="relative px:16 py:16 sm:py:32 md:py:48 sm:px:16 md:px:24 pr:24 sm:pr:0">
                    <div class="sm:hidden absolute bottom:0 left:n24 w:plus48 border-b:1 border:white border:dashed border-opacity:10"></div>
                    <div class="sm:hidden absolute left:n12 h:16 border-l:1 border:primary-rg" style="top:17%; height:15%;"></div>
                    <p class="opacity:60 inline">
                        The non-technical roles with insight into these problems fail to explore <span class="space:nowrap">and account</span> for implementation.
                    </p>
                </div>
                <div class="relative px:16 py:16 sm:py:32 md:py:48 sm:pl:16 md:pl:24 pr:32 sm:pr:0 md:pr:20 lg:pr:24">
                    <div class="sm:hidden absolute left:n12 h:16 border-l:1 border:primary-rg" style="top:17%; height:15%;"></div>
                    <p class="opacity:60 inline">
                        This division between problems and their solutions, leads to inefficieny, <span class="md:space:nowrap">poor quality,</span> and reduced impact.
                    </p>
                </div>
            </div>
        </div>

    </section>

    {# Transition: But #}
    <div aria-hidden="true" class="section">
        {# Horz Divider #}
        <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10"></div>
        <div data-scroll-marquee class="relative flex w:100p max-w:1920 overflow:hidden mask:fade-out-x font:serif font:15xl sm:font:20xl leading:100 uppercase italic">
            <div data-scroll-marquee-move="6" class="relative flex-shrink:0 flex align-items:center justify-content:start max-w:none blur:fix">
                <div data-scroll-marquee-measure class="flex-shrink:0 space:nowrap gradient-text bg:sheet-3-i">
                    but but but but&nbsp;
                </div>
                <div data-scroll-marquee-2 class="flex-shrink:0 space:nowrap gradient-text bg:sheet-3-i">
                    but but but but&nbsp;
                </div>
            </div>
        </div>
        {# Horz Divider #}
        <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3-i border:dashed border-opacity:10"></div>
    </div>

    {# Designs Problem #}
    <section class="section">
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                <div class="hidden sm:block relative h:100p border-l:1 border:ink-3-i border-opacity:0"></div>
                <div class="hidden sm:block relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
            </div>
        </div>
        {# Container #}
        <div class="container grid sm:grid-cols:3 sm:gap:48">
            <div class="absolute z:n1 bottom:n160 left:n320 ml:n4 w:640 h:640 bg:repeat mask:radial opacity:15" style="background-image: url('/assets/images/utility/sparkle-24.svg'); background-size: 1.5rem 1.5rem;">
                <div class="absolute right:24 top:0 w:320 h:100p bg:sheet-6-i"></div>
            </div>
            {# Gradients #}
            <div class="absolute right:n320 top:n320 flex ratio:1-1 w:640 bg:radial-purple-i opacity:10"></div>
            <div class="absolute right:0 top:n160 flex ratio:1-1 w:640 bg:radial-blue-i opacity:10"></div>
            <div class="absolute right:160 top:0 flex ratio:2-1 w:100p max-w:896 bg:radial-teal-i opacity:10"></div>
            {# Handles #}
            <div class="absolute top:n8 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3-i"></div>
                <div class="h:1 w:100p bg:ink-3-i absolute"></div>
            </div>
            <div class="absolute top:n8 right:8 sm:right:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3-i"></div>
                <div class="h:1 w:100p bg:ink-3-i absolute"></div>
            </div>
            {# Headline #}
            <div class="relative flex flex:col gap:24 sm:col:2 pt:12 sm:pt:48 sm:px:24">
                <div class="sm:hidden absolute bottom:0 left:n24 w:plus48 border-b:1 border:white border:dashed border-opacity:10"></div>
                <p class="flex-shrink:0 font:8vw sm:font:4vw md:font:3-75vw lg:font:7xl leading:140 tracking:tight">
                    This is not a granstand for design. Design teams play their role in this. Designer's <span class="space:nowrap">do this</span> same <span class="space:nowrap">thing, too.</span>
                </p>
                {# Graphic #}
                <div class="relative flex align-items:center justify-content:center w:100p h:100p bg:sheet-1-i radius-t:xl min-h:320 sm:min-h:128 mask:fade-out-b p:1">
                    <div class="absolute w:160 sm:w:320 h:160 sm:h:320 bg:radial-white opacity:30 top:n80 sm:top:n160 left:n80 sm:left:n160"></div>
                    <div class="absolute w:160 sm:w:320 h:160 sm:h:320 bg:radial-white opacity:30 top:n80 sm:top:n160 right:n80 sm:right:n160"></div>
                    <div class="relative w:100p h:100p radius-t:15 bg:sheet-4-i">
                        {{ graphics.grandstand() }}
                    </div>
                </div>
            </div>
            {# Support #}
            <div class="relative flex flex:col font:5vw sm:font:1-75vw md:font:1-5vw lg:font:xl tracking:normal leading:150">
                <div class="relative px:16 py:16 sm:px:16 sm:py:32 md:px:24 md:py:48 opacity:60">
                    <div class="sm:hidden absolute left:n12 h:16 border-l:1 border:primary-rg" style="top:17%; height:15%;"></div>
                    <p>
                        Most designers have little to no understanding of marketing, sales, code, or business, <span class="space:nowrap">in general.</span>
                    </p>
                </div>
                <div class="w:plus48 ml:n24 border-t:1 border:white border-opacity:10 border:dashed"></div>
                <div class="relative px:16 py:16 sm:px:16 sm:py:32 md:px:24 md:py:48 opacity:60">
                    <div class="sm:hidden absolute left:n12 h:16 border-l:1 border:primary-rg" style="top:17%; height:15%;"></div>
                    <p>
                        Lacking understanding, design now has the sole purpose of aligning and balancing the ideas <span class="space:nowrap">of others.</span>
                    </p>
                </div>
                <div class="w:plus48 ml:n24 border-t:1 border:white border-opacity:10 border:dashed"></div>
                <div class="relative px:16 py:16 sm:px:16 sm:py:32 md:px:24 md:py:48 opacity:60 mb:72 sm:mb:12">
                    <div class="sm:hidden absolute left:n12 h:16 border-l:1 border:primary-rg" style="top:17%; height:15%;"></div>
                    <p>
                        Here, design creates a plan for both <span class="space:nowrap">an input</span> and output that they don't adequately comprehend.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    {# Transition: What is this #}
    <section class="section section:py" style="background: radial-gradient(40% 66% at 50% 0%, rgba(0, 128, 255, 0.7) 0%, rgba(0, 128, 255, 0) 100%), radial-gradient(150% 75% at 50% 0%, rgba(0, 12, 117, 0.4) 50%, rgba(0, 12, 117, 0) 100%), linear-gradient(180deg, rgba(0, 12, 117, 0) 30%, rgba(0, 12, 117, 0.42) 60%, rgba(0, 12, 117, 0) 80%), #206BFF;">
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
                <div class="relative h:100p border-l:1 border:ink-3-i border-opacity:10"></div>
            </div>
        </div>
        <div class="container:no-pad">
            <div class="absolute top:72 sm:top:48 md:top:32 lg:top:24 flex flex:col align-items:center font:8-5vw sm:font:9-5vw md:font:10vw lg:font:14xl font:serif tracking:n5 w:100p text:center leading:110">
                <div class="relative z:3">
                    So, <span class="inline-flex mr:n2 sm:mr:n6 lg:mr:n12">w</span>hat the fuck is this?
                </div>
            </div>
            <picture class="relative z:4">
                <source media="(min-width: 1024px)" srcset="/assets/images/mission/wtf-md.webp">
                <source media="(min-width: 768px)" srcset="/assets/images/mission/wtf-sm.webp">
                <source media="(max-width: 767px)" srcset="/assets/images/mission/wtf.webp">
                <img src="/assets/images/mission/wtf.png" class="relative z:4 w:100p h:auto" loading="lazy" width="1152" height="864" alt="90s corporate office worker sitting in front of an old computer with hands in the air and blame.design up on the screen">
            </picture>
        </div>
        {# Zig Zag Edge #}
        <div class="absolute top:n1 w:100p h:12 z:3 transform" style="background-image: url('/assets/images/utility/tooth-down-16-080808.svg'); background-size: 1rem 1rem;"></div>
    </section>

    {# Design-led Growth #}
    <section data-invert="light" class="section section:py bg:sheet-6 color:ink-3 z:1">
        {# Vert Dividers #}
        <div class="absolute top:0 w:100p h:100p flex align-items:center justify-content:center px:12 sm:px:24">
            <div class="relative w:100p h:100p max-w:1200 flex justify-content:between">
                <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10"></div>
                <div class="relative h:100p border-l:1 border:ink-3 border-opacity:10"></div>
            </div>
        </div>
        {# Zig Zag Edge #}
        <div class="absolute top:n10 mt:n1 w:100p h:12 z:3 transform rotate:180" style="background-image: url('/assets/images/utility/tooth-down-16-D9D9D9.svg'); background-size: 1rem 1rem;"></div>
        {# Horz Divider #}
        <div class="w:plus96 lg:w:100p lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15"></div>
        {# Container #}
        <div class="container flex flex:col align-items:center justify-content:center mb:24 sm:mb:96">
            {# Line Dividers :: Absolute #}
            <div class="absolute hidden lg:block w:100vw lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15 top:96"></div>
            <div class="absolute hidden lg:block w:100vw lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15 top:192 mt:10"></div>
            <div class="absolute hidden lg:block w:100vw lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15 top:288 mt:20"></div>
            <div class="absolute hidden lg:block w:100vw lg:mask:fade-out-x-75p border-t:1 border:ink-3 border:dashed border-opacity:15 top:384 mt:28"></div>
            {# Handles #}
            <div class="absolute top:n8 left:8 sm:left:n28 mt:1 ml:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3"></div>
                <div class="h:1 w:100p bg:ink-3 absolute"></div>
            </div>
            <div class="absolute top:n8 right:8 sm:right:n28 mt:1 mr:n1 w:12 h:12 flex align-items:center justify-content:center border-t:1">
                <div class="w:1 h:100p bg:ink-3"></div>
                <div class="h:1 w:100p bg:ink-3 absolute"></div>
            </div>
            {# Headline #}
            <div class="relative mt:12 w:100p">
                <p class="font:8-75vw sm:font:7vw lg:font:11-5xl leading:130 md:leading:120 tracking:tighter">
                    <span class="gradient-text" style="background-image:linear-gradient(0deg, rgba(var(--ink-3), 1) 0%, rgba(var(--ink-3), 1) 80%);">Growth design identifies and actionably solves for marketing challenges with data, design, and code to </span><span class="gradient-text" style="background-image: linear-gradient(135deg, rgba(var(--teal-i), 1) 0%, rgba(var(--blue-i), 1) 40%, rgba(var(--purple-i), 1) 80%);">drive business growth.</span>
                </p>
            </div>
        </div>
        {# Article #}
        <div class="container flex flex:col pb:72 sm:pb:112 md:pb:160 font:lg sm:font:3xl md:font:4xl">
            <div class="absolute w:minus24 sm:w:plus48 h:100p left:12 sm:left:n24 top:0 bg:sheet-5 shadow:2xl"></div>
            <div class="absolute top:0 left:32 sm:left:48 md:left:72 h:100p border-l:1 border:red border-opacity:50"></div>
            <div class="hidden sm:block md:hidden absolute top:64 mt:n5 left:n24 w:plus48 h:100p bg:repeat opacity:20" style="background-image: url(/assets/images/utility/ruled-paper-51-blue.svg); background-size: 5.625rem 5.625rem;"></div>
            <div class="hidden md:block absolute top:64 mt:n5 left:n24 w:plus48 h:100p bg:repeat opacity:20" style="background-image: url(/assets/images/utility/ruled-paper-51-blue.svg); background-size: 6.375rem 6.375rem;"></div>
            <div class="relative">
                <div class="absolute sm:hidden bottom:2 left:n12 w:plus24 border-b:1 border:blue opacity:40"></div>
                <h2 class="relative font:6xl sm:font:7xl md:font:9xl leading:100 font:serif tracking:tighter px:24 sm:px:96 pt:48 sm:pt:56 md:pt:48 mt:4">
                    The details
                </h2>
            </div>
            {% set articleOuter = 'relative flex flex:col align-items:end pl:24 pr:24 sm:pl:96 sm:pr:72 lg:pr:96' %}
            {% set articleContent = 'relative max-w:768 flex-shrink:0 color:ink-1 flex flex:col gap:8 sm:gap:40 md:gap:48 mt:16 pt:1 sm:mt:40 sm:pt:5 md:mt:0 md:pt:0' %}
            {# Marketing #}
            <div class="{{ articleOuter }} pt:28 sm:pt:48 md:pt:56 mt:6 md:mt:2">
                <div class="relative w:100p">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 162 66" class="absolute top:n4 sm:top:n6 md:top:n4 left:n14 sm:left:n16 w:96 sm:w:144 md:w:160 h:auto">
                        <path stroke="rgba(var(--blue), 1)" stroke-width="1.5" stroke-linecap="round" d="M56 6C10 7-29 37 33 55c63 19 127 12 123-26C152-8-16-8 6 31c21 40 154 39 155 6C162 3 39-2 23 2"/>
                    </svg>
                    <h3 class="tracking:tighter medium">
                        Marketing
                    </h3>
                </div>
                <div class="{{ articleContent }}">
                    <p>
                        Growth design has a deep understanding of products, <span class="space:nowrap">how they</span> fit into the market, and how to find, and speak with, an audience that is searching for <span class="space:nowrap">these solutions.</span>
                    </p>
                    <p class="mt:6 md:mt:2">
                        Growth design's first objective is to obtain this audience through organic and paid channels. Upon discovery, <span class="space:nowrap">the objective</span> shifts <span class="space:nowrap">to conversion.</span>
                    </p>
                </div>
            </div>
            {# Design#}
            <div class="{{ articleOuter }} pt:32 sm:pt:48 mt:n2 md:mt:4">
                <div class="relative w:100p mt:n1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 130 66" class="absolute top:n4 sm:top:n6 left:n14 sm:left:n16 md:left:n18 w:80 sm:w:112 md:w:128 h:auto">
                        <path stroke="rgba(var(--blue), 1)" stroke-width="1.5" stroke-linecap="round" d="M44 56C10 53-3 39 2 21 8 4 58 5 82 9c24 5 68 22 35 42S13 64 11 31 57-1 78 3s46 15 39 39-51 29-86 17"/>
                    </svg>
                    <h3 class="tracking:tighter medium">
                        Design
                    </h3>
                </div>
                <div class="{{ articleContent }}">
                    <p>
                        Growth design solves these challenges through... design. Though, not solely visual—as these solutions require multi-faceted considerations to sustainably and <span class="space:nowrap">efficiently produce</span> <span class="space:nowrap">quality results.</span>
                    </p>
                    <p class="mt:6 md:mt:2">
                        In practice, growth design meets an audience wherever they are, then captures their interest by addressing their needs, and, lastly, provides a route that solves <span class="space:nowrap">their task.</span>
                    </p>
                </div>
            </div>
            {# Engineering #}
            <div class="{{ articleOuter }} pt:32 sm:pt:48 mt:n2 md:mt:4">
                <div class="relative w:100p mt:n1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 194 66" class="absolute top:n4 sm:top:n6 left:n12 sm:left:n14 md:left:n20 w:112 sm:w:160 md:w:192 h:auto">
                        <path stroke="rgba(var(--blue), 1)" stroke-width="1.5" stroke-linecap="round" d="M114 56c40 7 79-2 79-22S127 1 54 7c-74 7-60 39-19 49 41 11 150 17 152-22 1-39-173-47-173-4-1 43 110 40 134 24"/>
                    </svg>
                    <h3 class="tracking:tighter medium">
                        Engineering
                    </h3>
                </div>
                <div class="{{ articleContent }}">
                    <p>
                        To be put into action, most of the above requires code. <span class="space:nowrap">To fully</span> consider and account for solutions, growth design deeply understands the systems that <span class="space:nowrap">it operates within.</span>
                    </p>
                    <p class="pt:1 sm:pt:0 mt:6 md:mt:2">
                        Driving growth requires efficiency. By unifying roles and responsibilities, growth design eliminates endless back-and-fourth, along with confusion <span class="space:nowrap">and complacency.</span>
                    </p>
                </div>
            </div>
            {# Aside #}
            <div class="{{ articleOuter }} pt:32 sm:pt:48 mt:n1 sm:mt:n2 md:mt:4">
                <div class="relative w:100p mt:n2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 162 66" class="absolute top:n4 sm:top:n6 left:n6 sm:left:n8 w:96 sm:w:144 md:w:160 h:auto">
                        <path stroke="rgba(var(--blue), 1)" stroke-width="1.5" stroke-linecap="round" d="M111 9C83 1 8 7 1 31c-6 24 108 47 149 17 42-30-50-58-104-43s-57 44 0 56 109-6 108-26S96-10 49 13"/>
                    </svg>
                    <h3 class="tracking:tighter medium">
                        Open to all
                    </h3>
                </div>
                <div class="{{ articleContent }}">
                    <p>
                        Anyone can operate as a growth designer. At its core, <span class="space:nowrap">it is</span> <span class="space:nowrap">a borderless</span> approach to marketing that promotes end-to-end ownership, quality, efficiency <span class="space:nowrap">and impact.</span>
                    </p>
                    <p class="mt:6 md:mt:2">
                        Enjoy generalization? Tired of only getting to work on one, small piece of the puzzle? With a can-do attitude and some GPT/Googling skills, growth design <span class="space:nowrap">may be just for you!</span>
                    </p>
                </div>
            </div>
        </div>
        {# Cards #}
        <div class="container grid sm:grid-cols:3 gap:24 mt:96">
            {# Card 1 #}
            <div class="relative flex align-items:center justify-content:center">
                <div class="absolute w:plus96 h:plus96 border:1 border:dashed border:black radius:100p border-opacity:10 bg:fade-left"></div>
                <div class="relative z:1 w:100p ratio:1-1 bg:sheet-5 radius:xl shadow:lg p:1 overflow:hidden">
                    <div class="relative w:100p h:100p bg:sheet-6 radius:15 p:24">
                        <h3 class="font:4xl tracking:tight leading:100 mb:12">
                            <span class="font:serif italic tracking:tighter opacity:60">join</span><br> Marketing
                        </h3>
                        <p class="font:xl leading:140 opacity:60">
                            Growth design understands how <span class="space:nowrap">to acquire</span> and engage an audience.
                        </p>
                    </div>
                </div>
            </div>
            {# Card 2 #}
            <div class="relative flex align-items:center justify-content:center">
                <div class="absolute w:plus96 h:plus96 border:1 border:dashed border:black radius:100p opacity:10"></div>
                <div class="relative z:1 w:100p ratio:1-1 bg:sheet-5 radius:xl shadow:lg p:1 overflow:hidden">
                    <div class="relative w:100p h:100p bg:sheet-6 radius:15 p:24">
                        <h3 class="font:4xl tracking:tight leading:100">
                            <span class="font:serif italic tracking:tighter opacity:60">with</span><br> Design
                        </h3>
                    </div>
                </div>
            </div>
            {# Card 3 #}
            <div class="relative flex align-items:center justify-content:center">
                <div class="absolute w:plus96 h:plus96 border:1 border:dashed border:black radius:100p border-opacity:10 bg:fade-right"></div>
                <div class="relative z:1 w:100p ratio:1-1 bg:sheet-5 radius:xl shadow:lg p:1 overflow:hidden">
                    <div class="relative w:100p h:100p bg:sheet-6 radius:15 p:24">
                        <h3 class="font:4xl tracking:tight leading:100">
                            <span class="font:serif italic tracking:tighter opacity:60">and</span><br> Engineering
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>